---

---

<div class="company">
    <h3>Miles de Clientes confían en nosotros</h3>
    <div class="company-banner">

    </div>
    <div class="company-banner">

    </div>
</div>

<style>
    .company
    {
        height: 55vh;
        background: #142133;
        padding: 60px 100px;
        color: #FFF;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .company h3
    {
        font-size: 32px;
        text-align: center;
        font-weight: 600;
    }

    .company-banner
    {
        background: #FFF;
        height: 100px;
        width: 100%;
        border-radius: 10px;
    }
</style>