---
import Button from "./Button.astro";

/*
interface Props
{
    options: string[];
}

const { options } = Astro.props;
*/
---
<nav>
    <div class="img-container">
        <img onclick="window.location.href = 'index.html'" src='https://i.imgur.com/0EZ41J4.png' alt='Logo'/>
    </div>
    <div class="option-container">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Nosotros</a></li>
            <li><a href="/services">Servicios</a></li>
            <li><a href="/projects">Proyectos</a></li>
        </ul>
    </div>
    <div class="button-container">
        <Button
                text="Contáctanos"
                color="dark"
                link="#contact"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#FFF" d="M16.175 13H5q-.425 0-.712-.288T4 12q0-.425.288-.712T5 11h11.175l-4.9-4.9q-.3-.3-.288-.7t.313-.7q.3-.275.7-.288t.7.288l6.6 6.6q.15.15.213.325t.062.375q0 .2-.062.375t-.213.325l-6.6 6.6q-.275.275-.687.275T11.3 19.3q-.3-.3-.3-.712t.3-.713z"/></svg>
        </Button>
    </div>
    <!--<button><a href="#contact">Contáctanos</a></button>-->
</nav>

<style>
    nav
    {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .img-container
    {
        flex-basis: 30%;
    }

    .option-container
    {
        width: 100%;
        flex-basis: 40%;
    }

    .button-container
    {
        flex-basis: 30%;
        display: flex;
        justify-content: flex-end;
    }

    img
    {
        flex-basis: 30%;
        width: 120px;
        cursor: pointer;
    }

    ul
    {
        flex-basis: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        list-style: none;
        transition: 0.3s all ease-in-out;
    }

    a
    {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        transition: 0.3s all ease-in-out;
    }

    a:hover
    {
        color: #8493B6;
    }

    .icons
    {
        cursor: pointer;
        display: none;
    }

    #check
    {
        display: none;
    }

    @media screen and (max-width: 767px)
    {
        nav
        {
            padding: 30px 30px;
        }

        ul
        {
            display: none;
            position: absolute;
            top: 0;
            right: 5%;
            gap: 10px;
            flex-direction: column;
            align-items: flex-end;
            width: 30%;
            margin-top: 60px;
            z-index: 3;
            transition: 1s all ease-in-out;
        }

        .icons
        {
            display: block;
            right: 0;
        }

        #check:checked~.icons .menu
        {
            display: none;
        }

        #check:checked~.icons .close
        {
            display: block;
        }

        #check:checked~ul
        {
            display: flex;
            background: #45749C;
            border-radius: 20px;
            padding: 20px;
        }

        .close
        {
            display: none;
        }

        button
        {
            display: none;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px)
    {
        nav
        {
            padding: 30px 30px;
        }

        ul
        {
            gap: 25px;
        }
    }
</style>