---
interface Props {
  message: string;
}
---

<div class="banner">
    <span>Mensaje Enviado Correctamente</span>
</div>

<style>
    .banner
    {
        top: 0;
        left: 50%;
        position: static;
        width: 70%;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: #4CAF50;
        color: white;
    }
</style>