---
import ContactForm from '../../react-components/ContactForm'

---

<section class="contact" id="contact">
    <div class="contact-container">
        <div class="contact-info">
            <h1>Tomemos los primeros pasos hacia el éxito</h1>
            <div class="contact-info-details">
                <div class="info-details">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M0.075 5.8325C0.226227 5.16986 0.597983 4.57822 1.12938 4.15446C1.66078 3.73071 2.32033 3.49995 3 3.5H21C21.6797 3.49995 22.3392 3.73071 22.8706 4.15446C23.402 4.57822 23.7738 5.16986 23.925 5.8325L12 13.121L0.075 5.8325ZM0 7.5455V18.2015L8.7045 12.8645L0 7.5455ZM10.1415 13.745L0.2865 19.7855C0.52999 20.2989 0.91429 20.7326 1.39467 21.0362C1.87505 21.3397 2.43176 21.5005 3 21.5H21C21.5681 21.5001 22.1246 21.3389 22.6048 21.0351C23.0849 20.7313 23.4688 20.2975 23.712 19.784L13.857 13.7435L12 14.879L10.1415 13.7435V13.745ZM15.2955 12.866L24 18.2015V7.5455L15.2955 12.8645V12.866Z" fill="#8493B6"/>
                    </svg>
                    <h4>comercial@conectividadglobal.co</h4>
                </div>
                <div class="info-details">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <g clip-path="url(#clip0_31_741)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.8275 1.26648C3.08997 1.00441 3.40513 0.801114 3.7521 0.670061C4.09907 0.539009 4.46994 0.483192 4.84011 0.506311C5.21029 0.529429 5.57133 0.630954 5.8993 0.804158C6.22727 0.977362 6.51469 1.21829 6.7425 1.51098L9.43501 4.96998C9.9285 5.60448 10.1025 6.43098 9.90751 7.21098L9.087 10.496C9.04458 10.6661 9.04687 10.8443 9.09366 11.0133C9.14044 11.1823 9.23013 11.3364 9.354 11.4605L13.0395 15.146C13.1638 15.2701 13.318 15.3599 13.4873 15.4067C13.6566 15.4535 13.8351 15.4557 14.0055 15.413L17.289 14.5925C17.6739 14.4962 18.0757 14.4888 18.4639 14.5706C18.8522 14.6525 19.2167 14.8215 19.53 15.065L22.989 17.756C24.2325 18.7235 24.3465 20.561 23.2335 21.6725L21.6825 23.2235C20.5725 24.3335 18.9135 24.821 17.367 24.2765C13.4088 22.8838 9.81491 20.6177 6.852 17.6465C3.88094 14.684 1.61492 11.0907 0.222004 7.13298C-0.320996 5.58798 0.166505 3.92748 1.2765 2.81748L2.8275 1.26648Z" fill="#8493B6"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_31_741">
                                <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <h4>+57 315 3391661</h4>
                </div>
                <div class="info-details">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28" fill="none">
                        <path d="M12 14C12.825 14 13.5315 13.7256 14.1195 13.1768C14.7065 12.6289 15 11.97 15 11.2C15 10.43 14.7065 9.7706 14.1195 9.2218C13.5315 8.67393 12.825 8.4 12 8.4C11.175 8.4 10.469 8.67393 9.882 9.2218C9.294 9.7706 9 10.43 9 11.2C9 11.97 9.294 12.6289 9.882 13.1768C10.469 13.7256 11.175 14 12 14ZM12 28C7.975 24.8033 4.969 21.8339 2.982 19.0918C0.994 16.3506 0 13.8133 0 11.48C0 7.98 1.2065 5.19167 3.6195 3.115C6.0315 1.03833 8.825 0 12 0C15.175 0 17.9685 1.03833 20.3805 3.115C22.7935 5.19167 24 7.98 24 11.48C24 13.8133 23.0065 16.3506 21.0195 19.0918C19.0315 21.8339 16.025 24.8033 12 28Z" fill="#8493B6"/>
                    </svg>
                    <h4>Bogotá D.C, Colombia</h4>
                </div>
            </div>
            <div class="contact-info-socials">
                <div class="social">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16"><path fill="#FFF" d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/></svg>
                </div>
                <div class="social">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16"><path fill="#FFF" d="M8 0C5.829 0 5.556.01 4.703.048C3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7C.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297c.04.852.174 1.433.372 1.942c.205.526.478.972.923 1.417c.444.445.89.719 1.416.923c.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417c.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046c.78.035 1.204.166 1.486.275c.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485c.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598c-.28.11-.704.24-1.485.276c-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598a2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485c-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486c.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276c.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92a.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217a4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334a2.667 2.667 0 0 1 0-5.334"/></svg>
                </div>
                <div class="social">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16"><path fill="#FFF" d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518a3.3 3.3 0 0 0 1.447-1.817a6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429a3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218a3.2 3.2 0 0 1-.865.115a3 3 0 0 1-.614-.057a3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"/></svg>
                </div>
            </div>
        </div>
        <ContactForm client:visible />
    </div>
</section>

<style>
    .contact
    {
        height: 100vh;
        padding: 75px 100px;
        display: flex;
        align-items: center;
    }

    .contact-container
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #142133;
        border-radius: 30px;
        padding: 50px 70px;
        gap: 100px;
    }

    .contact-info
    {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #FFF;
        gap: 30px;
    }

    .contact-info h1
    {
        font-size: 54px;
        font-weight: 700;
    }

    .contact-info-details
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .info-details
    {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 24px 256px 24px 24px;
        border: 3px solid transparent;
    }

    .info-details:hover
    {
        border-radius: 16px;
        border: 3px solid #8493B6;
        background-color: rgba(132, 147, 182, 0.20);
    }

    .contact-info-socials
    {
        display: flex;
        gap: 15px;
    }

    .social
    {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    .social:hover
    {
        background-color: #8493B6;
    }

    /*Mobile*/
    @media (max-width: 768px)
    {

    }

    /*Tablets*/
    @media screen and (min-width: 768px) and (max-width: 1024px)
    {

    }

    /*Desktop*/
    @media screen and (min-width: 1500px)
    {

    }
</style>