---
import ContactForm from '../../react-components/ContactForm'
---

<section class="contact" id="contact">
    <div class="contact-container">
        <div class="contact-info">
            <h1>Tomemos los primeros pasos hacia el éxito</h1>
            <div class="contact-info-details">
                <div class="info-details">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M0.075 5.8325C0.226227 5.16986 0.597983 4.57822 1.12938 4.15446C1.66078 3.73071 2.32033 3.49995 3 3.5H21C21.6797 3.49995 22.3392 3.73071 22.8706 4.15446C23.402 4.57822 23.7738 5.16986 23.925 5.8325L12 13.121L0.075 5.8325ZM0 7.5455V18.2015L8.7045 12.8645L0 7.5455ZM10.1415 13.745L0.2865 19.7855C0.52999 20.2989 0.91429 20.7326 1.39467 21.0362C1.87505 21.3397 2.43176 21.5005 3 21.5H21C21.5681 21.5001 22.1246 21.3389 22.6048 21.0351C23.0849 20.7313 23.4688 20.2975 23.712 19.784L13.857 13.7435L12 14.879L10.1415 13.7435V13.745ZM15.2955 12.866L24 18.2015V7.5455L15.2955 12.8645V12.866Z" fill="#8493B6"/>
                    </svg>
                    <h4>SaulDesign@gmail.com</h4>
                </div>
                <div class="info-details">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <g clip-path="url(#clip0_31_741)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.8275 1.26648C3.08997 1.00441 3.40513 0.801114 3.7521 0.670061C4.09907 0.539009 4.46994 0.483192 4.84011 0.506311C5.21029 0.529429 5.57133 0.630954 5.8993 0.804158C6.22727 0.977362 6.51469 1.21829 6.7425 1.51098L9.43501 4.96998C9.9285 5.60448 10.1025 6.43098 9.90751 7.21098L9.087 10.496C9.04458 10.6661 9.04687 10.8443 9.09366 11.0133C9.14044 11.1823 9.23013 11.3364 9.354 11.4605L13.0395 15.146C13.1638 15.2701 13.318 15.3599 13.4873 15.4067C13.6566 15.4535 13.8351 15.4557 14.0055 15.413L17.289 14.5925C17.6739 14.4962 18.0757 14.4888 18.4639 14.5706C18.8522 14.6525 19.2167 14.8215 19.53 15.065L22.989 17.756C24.2325 18.7235 24.3465 20.561 23.2335 21.6725L21.6825 23.2235C20.5725 24.3335 18.9135 24.821 17.367 24.2765C13.4088 22.8838 9.81491 20.6177 6.852 17.6465C3.88094 14.684 1.61492 11.0907 0.222004 7.13298C-0.320996 5.58798 0.166505 3.92748 1.2765 2.81748L2.8275 1.26648Z" fill="#8493B6"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_31_741">
                                <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <h4>+52 1 55 1234 5678</h4>
                </div>
                <div class="info-details">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28" fill="none">
                        <path d="M12 14C12.825 14 13.5315 13.7256 14.1195 13.1768C14.7065 12.6289 15 11.97 15 11.2C15 10.43 14.7065 9.7706 14.1195 9.2218C13.5315 8.67393 12.825 8.4 12 8.4C11.175 8.4 10.469 8.67393 9.882 9.2218C9.294 9.7706 9 10.43 9 11.2C9 11.97 9.294 12.6289 9.882 13.1768C10.469 13.7256 11.175 14 12 14ZM12 28C7.975 24.8033 4.969 21.8339 2.982 19.0918C0.994 16.3506 0 13.8133 0 11.48C0 7.98 1.2065 5.19167 3.6195 3.115C6.0315 1.03833 8.825 0 12 0C15.175 0 17.9685 1.03833 20.3805 3.115C22.7935 5.19167 24 7.98 24 11.48C24 13.8133 23.0065 16.3506 21.0195 19.0918C19.0315 21.8339 16.025 24.8033 12 28Z" fill="#8493B6"/>
                    </svg>
                    <h4>CDMX, México</h4>
                </div>
            </div>
            <div class="contact-info-socials">
                <div class="social">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="24" viewBox="0 0 15 24" fill="none">
                        <path d="M10 13.8H13.5714L15 9H10V6.6C10 5.364 10 4.2 12.8571 4.2H15V0.168C14.5343 0.1164 12.7757 0 10.9186 0C7.04 0 4.28571 1.9884 4.28571 5.64V9H0V13.8H4.28571V24H10V13.8Z" fill="#EEEEEE"/>
                    </svg>
                </div>
                <div class="social">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_31_752)">
                            <path d="M11.921 0C8.69311 0 8.2872 0.015 7.01892 0.072C5.75065 0.132 4.88679 0.333 4.12999 0.63C3.33616 0.931229 2.61712 1.40374 2.02314 2.0145C1.4181 2.61404 0.949795 3.33936 0.65078 4.14C0.356385 4.902 0.155661 5.775 0.0976746 7.05C0.0411746 8.3325 0.0263062 8.7405 0.0263062 12.0015C0.0263062 15.2595 0.0411746 15.6675 0.0976746 16.947C0.157148 18.225 0.356385 19.0965 0.65078 19.86C0.955582 20.649 1.36149 21.318 2.02314 21.9855C2.68329 22.653 3.34642 23.064 4.1285 23.37C4.88679 23.667 5.74916 23.8695 7.01595 23.928C8.28571 23.985 8.69014 24 11.921 24C15.152 24 15.5549 23.985 16.8246 23.928C18.09 23.868 18.9568 23.667 19.7136 23.37C20.5069 23.0686 21.2254 22.5961 21.819 21.9855C22.4806 21.318 22.8865 20.649 23.1913 19.86C23.4842 19.0965 23.6849 18.225 23.7444 16.947C23.8009 15.6675 23.8158 15.2595 23.8158 12C23.8158 8.7405 23.8009 8.3325 23.7444 7.0515C23.6849 5.775 23.4842 4.902 23.1913 4.14C22.8923 3.33934 22.424 2.61401 21.819 2.0145C21.2252 1.40351 20.5061 0.930968 19.7121 0.63C18.9538 0.333 18.0885 0.1305 16.8232 0.072C15.5534 0.015 15.1505 0 11.9181 0H11.9225H11.921ZM10.855 2.163H11.9225C15.0984 2.163 15.4746 2.1735 16.728 2.232C17.8877 2.2845 18.5182 2.481 18.9375 2.6445C19.492 2.862 19.889 3.123 20.3053 3.543C20.7217 3.963 20.9789 4.362 21.1945 4.923C21.358 5.3445 21.5513 5.9805 21.6034 7.1505C21.6613 8.415 21.6732 8.7945 21.6732 11.997C21.6732 15.1995 21.6613 15.5805 21.6034 16.845C21.5513 18.015 21.3565 18.6495 21.1945 19.0725C21.0038 19.5935 20.6994 20.0647 20.3039 20.451C19.8875 20.871 19.492 21.1305 18.936 21.348C18.5196 21.513 17.8892 21.708 16.728 21.762C15.4746 21.819 15.0984 21.8325 11.9225 21.8325C8.74664 21.8325 8.36898 21.819 7.11557 21.762C5.95583 21.708 5.3269 21.513 4.90761 21.348C4.39093 21.1559 3.92351 20.8494 3.53971 20.451C3.14384 20.0641 2.839 19.5925 2.64761 19.071C2.48554 18.6495 2.29077 18.0135 2.23873 16.8435C2.18223 15.579 2.17033 15.1995 2.17033 11.994C2.17033 8.79 2.18223 8.412 2.23873 7.1475C2.29225 5.9775 2.48554 5.3415 2.6491 4.9185C2.86469 4.359 3.1234 3.9585 3.53971 3.5385C3.95603 3.1185 4.35153 2.859 4.90761 2.6415C5.3269 2.4765 5.95583 2.2815 7.11557 2.2275C8.21286 2.1765 8.6381 2.1615 10.855 2.16V2.163ZM18.2713 4.155C18.0839 4.155 17.8983 4.19225 17.7251 4.26461C17.5519 4.33698 17.3946 4.44305 17.262 4.57677C17.1295 4.71048 17.0244 4.86923 16.9526 5.04394C16.8809 5.21864 16.844 5.4059 16.844 5.595C16.844 5.7841 16.8809 5.97135 16.9526 6.14606C17.0244 6.32077 17.1295 6.47952 17.262 6.61323C17.3946 6.74695 17.5519 6.85302 17.7251 6.92539C17.8983 6.99775 18.0839 7.035 18.2713 7.035C18.6499 7.035 19.013 6.88329 19.2806 6.61323C19.5483 6.34318 19.6987 5.97691 19.6987 5.595C19.6987 5.21309 19.5483 4.84682 19.2806 4.57677C19.013 4.30671 18.6499 4.155 18.2713 4.155ZM11.9225 5.838C11.1123 5.82525 10.3077 5.97523 9.55544 6.27921C8.80323 6.58319 8.11847 7.03511 7.54103 7.60863C6.96359 8.18216 6.50502 8.86585 6.192 9.61989C5.87899 10.3739 5.71779 11.1833 5.71779 12.0007C5.71779 12.8182 5.87899 13.6276 6.192 14.3816C6.50502 15.1356 6.96359 15.8193 7.54103 16.3929C8.11847 16.9664 8.80323 17.4183 9.55544 17.7223C10.3077 18.0263 11.1123 18.1763 11.9225 18.1635C13.5262 18.1383 15.0556 17.4779 16.1808 16.3249C17.306 15.1719 17.9367 13.6188 17.9367 12.0007C17.9367 10.3827 17.306 8.82962 16.1808 7.67662C15.0556 6.52363 13.5262 5.86324 11.9225 5.838ZM11.9225 7.9995C12.9742 7.9995 13.9828 8.42098 14.7265 9.17122C15.4702 9.92146 15.8879 10.939 15.8879 12C15.8879 13.061 15.4702 14.0785 14.7265 14.8288C13.9828 15.579 12.9742 16.0005 11.9225 16.0005C10.8708 16.0005 9.86222 15.579 9.11856 14.8288C8.3749 14.0785 7.95712 13.061 7.95712 12C7.95712 10.939 8.3749 9.92146 9.11856 9.17122C9.86222 8.42098 10.8708 7.9995 11.9225 7.9995Z" fill="#EEEEEE"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_31_752">
                                <rect width="23.7895" height="24" fill="white" transform="translate(0.0263062)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="social">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="24" viewBox="0 0 29 24" fill="none">
                        <path d="M9.28408 24C20.132 24 26.0661 14.7642 26.0661 6.76892C26.0661 6.51047 26.0661 6.24833 26.0553 5.98988C27.2107 5.13052 28.2078 4.06657 29 2.8479C27.9208 3.33683 26.7772 3.65906 25.6062 3.80415C26.8396 3.0466 27.7634 1.85466 28.2059 0.449871C27.047 1.15529 25.7787 1.6505 24.4564 1.91379C23.5674 0.940965 22.391 0.296497 21.1095 0.0802122C19.8279 -0.136072 18.5127 0.0878992 17.3676 0.717433C16.2225 1.34697 15.3113 2.34693 14.7753 3.56243C14.2393 4.77793 14.1083 6.14114 14.4026 7.44088C12.0576 7.32006 9.76344 6.69409 7.66901 5.60358C5.57458 4.51307 3.72663 2.98237 2.245 1.11076C1.49283 2.44561 1.26329 4.02457 1.60298 5.52701C1.94266 7.02946 2.82612 8.34274 4.07394 9.20017C3.13888 9.16753 2.22437 8.90953 1.40419 8.44698V8.53006C1.4058 9.92841 1.87725 11.2833 2.73884 12.3657C3.60043 13.4481 4.79931 14.1917 6.13284 14.4707C5.62667 14.6139 5.1038 14.6854 4.57878 14.683C4.20865 14.6841 3.83927 14.6489 3.47567 14.5777C3.85257 15.7815 4.58646 16.8339 5.57454 17.5877C6.56263 18.3414 7.75541 18.7588 8.98584 18.7812C6.8956 20.4681 4.31361 21.383 1.65571 21.3786C1.18738 21.3806 0.719366 21.3529 0.254364 21.2955C2.95199 23.0627 6.08487 24.001 9.28408 24Z" fill="#EEEEEE"/>
                    </svg>
                </div>
            </div>
        </div>
        <ContactForm client:visible />
    </div>
</section>

<style>
    .contact
    {
        height: 100vh;
        padding: 75px 100px;
        display: flex;
        align-items: center;
    }

    .contact-container
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #142133;
        border-radius: 30px;
        padding: 50px 70px;
        gap: 100px;
    }

    .contact-info
    {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #FFF;
        gap: 30px;
    }

    .contact-info h1
    {
        font-size: 54px;
        font-weight: 700;
    }

    .contact-info-details
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .info-details
    {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 24px 256px 24px 24px;
        border: 3px solid transparent;
    }

    .info-details:hover
    {
        border-radius: 16px;
        border: 3px solid #8493B6;
        background-color: rgba(132, 147, 182, 0.20);
    }

    .contact-info-socials
    {
        display: flex;
        gap: 15px;
    }

    .social
    {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    .social:hover
    {
        background-color: #8493B6;
    }

    /*Mobile*/
    @media (max-width: 768px)
    {

    }

    /*Tablets*/
    @media screen and (min-width: 768px) and (max-width: 1024px)
    {

    }

    /*Desktop*/
    @media screen and (min-width: 1500px)
    {

    }
</style>