---
import Button from "../../shared/Button.astro";
---

<div class="hero">
    <div class="hero-top">
        <h3>Agencia de Medios</h3>
        <h1>Conectamos a nuestros clientes con sus audiencias</h1>
    </div>
    <p>Diseñamos estrategias de Marketing 360, porque no es solo el mensaje, son los medios.</p>
    <div class="hero-buttons">
        <Button
                text="Cenectemos ahora"
                link="/about"
                color="dark"
        >

        </Button>
        <Button
                text="Nuestros servicios"
                link="/services"
                color="light"
        >

        </Button>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="4" viewBox="0 0 988 4" fill="none">
        <path d="M2 2L986 2.00009" stroke="white" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <div class="hero-logos">
        <svg xmlns="http://www.w3.org/2000/svg" width="169" height="23" viewBox="0 0 179 33" fill="none">
            <path d="M79.1262 0.111389H96.054V4.34364H85.8639V9.96809H93.3812V13.6435H85.8639V28.5121H96.054V32.3545H79.1262V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M45.4934 0.111389H66.9315V4.56639H60.0268V32.3545H52.7879V4.39933H45.4934V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M20.1574 0.111389H27.0065V28.5121H36.8624V32.3545H20.1574V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M0 0.111389H16.9278V4.34364H6.84906V9.74534H14.255V13.6435H6.84906V28.5121H16.9278V32.3545H0V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M169.166 16.2608C169.166 23.166 167.552 28.6791 165.491 29.6815C165.268 29.7929 165.101 30.0713 164.879 30.0713C162.484 30.0713 160.591 23.89 160.591 16.2608C160.591 8.63157 162.54 2.45025 164.879 2.45025C167.217 2.45025 169.166 8.63157 169.166 16.2608ZM178.02 16.2608C178.02 7.23938 172.118 0 164.823 0C157.528 0 151.626 7.29507 151.626 16.2608C151.626 25.2822 157.528 32.5215 164.823 32.5215C172.118 32.5215 178.02 25.2265 178.02 16.2608Z" fill="white" fill-opacity="0.9"/>
            <path d="M134.977 15.9267H139.765C141.714 15.9267 143.218 12.9752 143.218 10.0795C143.218 7.35077 141.38 4.62208 139.209 4.62208H134.977V15.9267ZM134.977 20.6601V32.3545H127.459V0.111389H141.269C146.28 0.111389 149.51 5.06758 149.51 10.8591C149.51 16.5392 145.111 20.6044 141.826 20.6044L134.977 20.6601Z" fill="white" fill-opacity="0.9"/>
            <path d="M104.295 32.3545H99.6734V0.111389H104.295L111.924 15.9267L117.715 0.111389H124.787V32.3545H117.325V15.3698L111.367 32.3545H110.42L104.295 16.3722V32.3545Z" fill="white" fill-opacity="0.9"/>
            <path d="M69.1588 0.111389H75.8408V32.3545H69.1588V0.111389Z" fill="white" fill-opacity="0.9"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="169" height="23" viewBox="0 0 179 33" fill="none">
            <path d="M79.1262 0.111389H96.054V4.34364H85.8639V9.96809H93.3812V13.6435H85.8639V28.5121H96.054V32.3545H79.1262V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M45.4934 0.111389H66.9315V4.56639H60.0268V32.3545H52.7879V4.39933H45.4934V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M20.1574 0.111389H27.0065V28.5121H36.8624V32.3545H20.1574V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M0 0.111389H16.9278V4.34364H6.84906V9.74534H14.255V13.6435H6.84906V28.5121H16.9278V32.3545H0V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M169.166 16.2608C169.166 23.166 167.552 28.6791 165.491 29.6815C165.268 29.7929 165.101 30.0713 164.879 30.0713C162.484 30.0713 160.591 23.89 160.591 16.2608C160.591 8.63157 162.54 2.45025 164.879 2.45025C167.217 2.45025 169.166 8.63157 169.166 16.2608ZM178.02 16.2608C178.02 7.23938 172.118 0 164.823 0C157.528 0 151.626 7.29507 151.626 16.2608C151.626 25.2822 157.528 32.5215 164.823 32.5215C172.118 32.5215 178.02 25.2265 178.02 16.2608Z" fill="white" fill-opacity="0.9"/>
            <path d="M134.977 15.9267H139.765C141.714 15.9267 143.218 12.9752 143.218 10.0795C143.218 7.35077 141.38 4.62208 139.209 4.62208H134.977V15.9267ZM134.977 20.6601V32.3545H127.459V0.111389H141.269C146.28 0.111389 149.51 5.06758 149.51 10.8591C149.51 16.5392 145.111 20.6044 141.826 20.6044L134.977 20.6601Z" fill="white" fill-opacity="0.9"/>
            <path d="M104.295 32.3545H99.6734V0.111389H104.295L111.924 15.9267L117.715 0.111389H124.787V32.3545H117.325V15.3698L111.367 32.3545H110.42L104.295 16.3722V32.3545Z" fill="white" fill-opacity="0.9"/>
            <path d="M69.1588 0.111389H75.8408V32.3545H69.1588V0.111389Z" fill="white" fill-opacity="0.9"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="169" height="23" viewBox="0 0 179 33" fill="none">
            <path d="M79.1262 0.111389H96.054V4.34364H85.8639V9.96809H93.3812V13.6435H85.8639V28.5121H96.054V32.3545H79.1262V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M45.4934 0.111389H66.9315V4.56639H60.0268V32.3545H52.7879V4.39933H45.4934V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M20.1574 0.111389H27.0065V28.5121H36.8624V32.3545H20.1574V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M0 0.111389H16.9278V4.34364H6.84906V9.74534H14.255V13.6435H6.84906V28.5121H16.9278V32.3545H0V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M169.166 16.2608C169.166 23.166 167.552 28.6791 165.491 29.6815C165.268 29.7929 165.101 30.0713 164.879 30.0713C162.484 30.0713 160.591 23.89 160.591 16.2608C160.591 8.63157 162.54 2.45025 164.879 2.45025C167.217 2.45025 169.166 8.63157 169.166 16.2608ZM178.02 16.2608C178.02 7.23938 172.118 0 164.823 0C157.528 0 151.626 7.29507 151.626 16.2608C151.626 25.2822 157.528 32.5215 164.823 32.5215C172.118 32.5215 178.02 25.2265 178.02 16.2608Z" fill="white" fill-opacity="0.9"/>
            <path d="M134.977 15.9267H139.765C141.714 15.9267 143.218 12.9752 143.218 10.0795C143.218 7.35077 141.38 4.62208 139.209 4.62208H134.977V15.9267ZM134.977 20.6601V32.3545H127.459V0.111389H141.269C146.28 0.111389 149.51 5.06758 149.51 10.8591C149.51 16.5392 145.111 20.6044 141.826 20.6044L134.977 20.6601Z" fill="white" fill-opacity="0.9"/>
            <path d="M104.295 32.3545H99.6734V0.111389H104.295L111.924 15.9267L117.715 0.111389H124.787V32.3545H117.325V15.3698L111.367 32.3545H110.42L104.295 16.3722V32.3545Z" fill="white" fill-opacity="0.9"/>
            <path d="M69.1588 0.111389H75.8408V32.3545H69.1588V0.111389Z" fill="white" fill-opacity="0.9"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="169" height="23" viewBox="0 0 179 33" fill="none">
            <path d="M79.1262 0.111389H96.054V4.34364H85.8639V9.96809H93.3812V13.6435H85.8639V28.5121H96.054V32.3545H79.1262V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M45.4934 0.111389H66.9315V4.56639H60.0268V32.3545H52.7879V4.39933H45.4934V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M20.1574 0.111389H27.0065V28.5121H36.8624V32.3545H20.1574V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M0 0.111389H16.9278V4.34364H6.84906V9.74534H14.255V13.6435H6.84906V28.5121H16.9278V32.3545H0V0.111389Z" fill="white" fill-opacity="0.9"/>
            <path d="M169.166 16.2608C169.166 23.166 167.552 28.6791 165.491 29.6815C165.268 29.7929 165.101 30.0713 164.879 30.0713C162.484 30.0713 160.591 23.89 160.591 16.2608C160.591 8.63157 162.54 2.45025 164.879 2.45025C167.217 2.45025 169.166 8.63157 169.166 16.2608ZM178.02 16.2608C178.02 7.23938 172.118 0 164.823 0C157.528 0 151.626 7.29507 151.626 16.2608C151.626 25.2822 157.528 32.5215 164.823 32.5215C172.118 32.5215 178.02 25.2265 178.02 16.2608Z" fill="white" fill-opacity="0.9"/>
            <path d="M134.977 15.9267H139.765C141.714 15.9267 143.218 12.9752 143.218 10.0795C143.218 7.35077 141.38 4.62208 139.209 4.62208H134.977V15.9267ZM134.977 20.6601V32.3545H127.459V0.111389H141.269C146.28 0.111389 149.51 5.06758 149.51 10.8591C149.51 16.5392 145.111 20.6044 141.826 20.6044L134.977 20.6601Z" fill="white" fill-opacity="0.9"/>
            <path d="M104.295 32.3545H99.6734V0.111389H104.295L111.924 15.9267L117.715 0.111389H124.787V32.3545H117.325V15.3698L111.367 32.3545H110.42L104.295 16.3722V32.3545Z" fill="white" fill-opacity="0.9"/>
            <path d="M69.1588 0.111389H75.8408V32.3545H69.1588V0.111389Z" fill="white" fill-opacity="0.9"/>
        </svg>
    </div>
</div>

<style>
    .hero
    {
        position: relative;
        height: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 80px 120px;
        background: rgba(0, 0, 0, 0.5);
        color: #FFF;
        overflow: hidden; /* Para asegurarse de que el contenido no se desborde */
        text-align: center;
    }

    .hero::before
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://i.imgur.com/yfIBb7m.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        z-index: -1;
        border-radius: 30px;
    }

    .hero-buttons
    {
        display: flex;
        gap: 20px;
    }

    .hero-logos
    {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    h3
    {
        font-size: 24px;
        font-weight: 500;
    }

    h1
    {
        font-size: 80px;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }

    p
    {
        width: 80%;
        font-size: 20px;
        font-weight: 400;
        color: #FFF;
    }

    br
    {
        width: 400px;
        color: #FFF;
    }

    @media screen and (max-width: 767px)
    {
        .hero
        {
            width: 100%;
            padding: 30px;
        }

        h1
        {
            width: 100%;
            font-size: 40px;
        }

        p
        {
            width: 100%;
            font-size: 16px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px)
    {
        .hero
        {
            width: 100%;
            padding: 30px 65px;
        }

        h1
        {
            width: 50%;
            font-size: 40px;
        }

        p
        {
            width: 50%;
            font-size: 16px;
        }
    }
</style>