---

---

<section class="about" id="about">
    <div class="about-left" style="margin-right: 100px;">
        <img src="https://i.imgur.com/sjiaVZF.jpeg" style="width: 140%; height: 100%; object-fit: cover; border-radius: 10px;"/>
    </div>
    <div class="about-right">
        <div class="about-right-title">
            <h2>Nuestra Pasión</h2>
        </div>
        <div class="about-right-benefits">
            <div class="about-right-benefits-item">
                <div class="about-right-benefits-item-icon">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none">
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M95.6195 71.2832C95.5609 70.8992 95.6164 70.5069 95.7731 70.1514C98.4909 63.987 100 57.1697 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100C57.1697 100 63.987 98.4909 70.1514 95.7731C70.5069 95.6164 70.8992 95.5609 71.2832 95.6195L97.3111 99.5898C98.6448 99.7933 99.7933 98.6448 99.5898 97.3111L95.6195 71.2832Z"
                                fill="#2196f3"></path>
                    </svg>
                    <svg
                            width="48"
                            height="48"
                            viewBox="0 0 48 48"
                            fill="none"
                            style="position: absolute; top: calc(50% - 26px); left: 28px"
                    >
                        <path
                                d="M18.4688 8.29695C18.4688 3.94695 21.6563 2.92195 23.4375 2.9532C27.0563 2.9532 28.061 5.96669 28.3594 7.57034C28.7304 9.56438 28.3673 14.3339 28.2007 16.5236L28.1959 16.586C28.434 16.5303 28.6911 16.5 28.9688 16.5H34.755C37.095 16.5 39 18.405 39 20.745C39 21.9541 38.612 23.0471 37.8519 23.8211C39.4184 24.5123 40.5 25.9628 40.5 27.6357C40.5 29.17 39.8059 30.5174 38.4535 31.2632C39.6886 32.0296 40.5 33.3118 40.5 34.7607C40.5 36.4223 39.686 37.8645 38.1036 38.5611C38.6651 39.14 39 40.0016 39 41.2524C39 43.3209 37.5469 45.0048 34.755 45.0048H28.9688C28.9006 45.0048 28.8335 45.0032 28.7675 45H24.0703C8.41406 45.2578 7.5 35.1094 7.5 30.9844C7.5 23.2503 10.9469 20.9512 14.0109 18.9076C15.4595 17.9414 16.8226 17.0322 17.6953 15.6328C18.4276 14.4587 18.4688 13.3828 18.4688 8.29695Z"
                                fill="#fff"></path>
                        <path
                                d="M28.5 16.5C26.9687 16.5469 22.5 17.3906 22.5 20.9531C22.5 22.8281 23.2031 23.8828 24.0469 24.4688C23.2031 24.8438 22.4531 26.2359 22.4531 27.9609C22.4531 29.8828 24.0469 31.2891 24.0469 31.2891C24.0469 31.2891 22.4531 32.8359 22.4531 34.6875C22.4531 36.0854 23.066 37.1169 24.0469 37.82C23.5156 38.1196 22.4531 39.1594 22.4531 40.9219C22.4531 43.0236 24.4154 44.7841 28.2587 44.9417C26.3862 44.595 25.4765 42.8793 25.4765 41.2524C25.4765 40.7146 25.6778 39.8513 26.1771 39.0882H34.5C34.9142 39.0882 35.25 38.7524 35.25 38.3382C35.25 37.924 34.9142 37.5882 34.5 37.5882H26.3834C25.7757 36.793 25.4765 35.762 25.4765 34.7606C25.4765 34.1376 25.711 33.1282 26.2956 32.25H34.5C34.9142 32.25 35.25 31.9142 35.25 31.5C35.25 31.0858 34.9142 30.75 34.5 30.75H26.626C25.8552 29.9264 25.4765 28.7622 25.4765 27.6356C25.4765 27.0998 25.65 26.2782 26.0704 25.5H34.5C34.9142 25.5 35.25 25.1642 35.25 24.75C35.25 24.3358 34.9142 24 34.5 24H26.7401C25.8951 23.1053 25.4765 21.7746 25.4765 20.745C25.4765 19.53 26.14 16.8454 28.5003 16.5304L28.5 16.5Z"
                                fill="#fff"></path>
                    </svg>
                </div>
                <div>
                    <h5>
                        Te acompañamos con soluciones innovadoras para construir relaciones
                        auténticas con tus audiencias.
                    </h5>
                </div>
            </div>
            <div class="about-right-benefits-item">
                <div class="about-right-benefits-item-icon">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none">
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M95.6195 71.2832C95.5609 70.8992 95.6164 70.5069 95.7731 70.1514C98.4909 63.987 100 57.1697 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100C57.1697 100 63.987 98.4909 70.1514 95.7731C70.5069 95.6164 70.8992 95.5609 71.2832 95.6195L97.3111 99.5898C98.6448 99.7933 99.7933 98.6448 99.5898 97.3111L95.6195 71.2832Z"
                                fill="#2196f3"></path>
                    </svg>
                    <svg
                            style="position: absolute; top: calc(50% - 40px); left: 15px"
                            width="80PX"
                            height="80px"
                            viewBox="0 0 48.000015 48.000015"
                            id="svg5"
                            xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg"
                    ><defs id="defs2"></defs>
                        <g
                                id="layer1"
                                transform="translate(-98,-377)"
                        ><path
                d="m 131.16679,390.50001 c 0,5.24669 -4.25329,9.49998 -9.49999,9.49998 -5.24671,0 -9.50001,-4.25329 -9.50001,-9.49998 0,-5.2467 4.2533,-9.50001 9.50001,-9.50001 5.2467,0 9.49999,4.25331 9.49999,9.50001 z"
                id="path12476"
                style="fill:#fff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2.00001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;stroke-opacity:1"
              ></path>
                            <path
                                    d="m 121.6668,381 c -5.2467,0 -9.5,4.25331 -9.5,9.5 0,2.98361 1.37595,5.64508 3.52734,7.38672 0.53194,0.0924 1.07835,0.14258 1.63672,0.14258 5.2467,0 9.5,-4.25332 9.5,-9.5 0,-2.98362 -1.37595,-5.64508 -3.52734,-7.38672 C 122.77158,381.05016 122.22517,381 121.6668,381 Z"
                                    id="path48385"
                                    style="fill:#fff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2.00001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;stroke-opacity:1"
                            ></path>
                            <path
                                    d="m 121.6668,383.25 a 1.0057667,0.99425681 0 0 0 -1.00586,0.9961 v 1.15625 c -1.28954,0.40756 -2.25,1.57366 -2.25,2.96679 0,1.73708 1.49318,3.125 3.25586,3.125 0.72118,0 1.24219,0.5214 1.24219,1.13672 0,0.61534 -0.52103,1.13281 -1.24219,1.13281 -0.72117,0 -1.24414,-0.51747 -1.24414,-1.13281 a 1.0057667,0.99425681 0 0 0 -1.00391,-0.99609 1.0057667,0.99425681 0 0 0 -1.00781,0.99609 c 0,1.39313 0.96046,2.55924 2.25,2.9668 v 1.15625 a 1.0057667,0.99425681 0 0 0 1.00586,0.99609 1.0057667,0.99425681 0 0 0 1.00586,-0.99609 v -1.15625 c 1.28905,-0.40756 2.24804,-1.57367 2.24805,-2.9668 0,-1.73706 -1.49123,-3.125 -3.25391,-3.125 -0.72118,0 -1.24414,-0.52137 -1.24414,-1.13672 0,-0.61533 0.52296,-1.13281 1.24414,-1.13281 0.72118,0 1.24219,0.51748 1.24219,1.13281 a 1.0057667,0.99425681 0 0 0 1.00586,0.9961 1.0057667,0.99425681 0 0 0 1.00586,-0.9961 c 0,-1.39313 -0.959,-2.55923 -2.24805,-2.96679 V 384.2461 A 1.0057667,0.99425681 0 0 0 121.6668,383.25 Z"
                                    id="path12478"
                                    style="color:#000000;fill:#808b9b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.99999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;stroke-opacity:1"
                            ></path>
                            <path
                                    d="m 140.29284,397.63849 c 0.51185,0 1.02354,0.19541 1.41407,0.58594 0.78104,0.78104 0.78104,2.04707 0,2.82812 l -5.65625,5.65625 -8.29297,8.29297 h -11.05078 l -2.91016,1.69141 c 0.0789,1.10821 -0.46192,2.21377 -1.49219,2.80859 l -2.59765,1.5 -8,-13.85547 2.59765,-1.5 c 1.43933,-0.831 3.26666,-0.34167 4.09766,1.09766 0,0 2.20899,-3.72852 5.20898,-3.72852 3,0 4.09571,0.98633 4.09571,0.98633 h 11.53906 c 1.0277,0 1.85351,0.892 1.85351,2 l 7.7793,-7.77734 c 0.39052,-0.39053 0.90222,-0.58594 1.41406,-0.58594 z"
                                    id="path32163"
                                    style="fill:#e7e7e7;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"
                            ></path>
                            <path
                                    d="m 140.29284,397.63849 c 0.51185,0 1.02354,0.19541 1.41407,0.58594 0.78104,0.78104 0.78104,2.04707 0,2.82812 l -5.65625,5.65625 -4.26368,4.26367 a 14.267931,15.294991 0 0 1 -1.65234,0.12696 14.267931,15.294991 0 0 1 -12.03906,-7.09766 h 11.15039 c 1.0277,0 1.85351,0.892 1.85351,2 l 7.7793,-7.77734 c 0.39052,-0.39053 0.90222,-0.58594 1.41406,-0.58594 z"
                                    id="path32165"
                                    style="fill:#fafafa;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;stroke-opacity:1"
                            ></path></g
                        ></svg
                    >
                </div>
                <div>
                    <h5>Optimizamos tus recursos.</h5>
                </div>
            </div>
            <div class="about-right-benefits-item">
                <div class="about-right-benefits-item-icon">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none">
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M95.6195 71.2832C95.5609 70.8992 95.6164 70.5069 95.7731 70.1514C98.4909 63.987 100 57.1697 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100C57.1697 100 63.987 98.4909 70.1514 95.7731C70.5069 95.6164 70.8992 95.5609 71.2832 95.6195L97.3111 99.5898C98.6448 99.7933 99.7933 98.6448 99.5898 97.3111L95.6195 71.2832Z"
                                fill="#2196f3"></path>
                    </svg>
                    <!--?xml version="1.0" encoding="iso-8859-1"?-->
                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                    <svg
                            style="position: absolute; top: calc(50% - 30px); left: 20px; right: 20px"
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 512 512"
                            xml:space="preserve"
                    >
            <path
                    d="M310.016,430.832H201.76c-6.816,0-12.336-5.52-12.336-12.336c0-6.8,5.52-12.336,12.336-12.336h108.256
	c6.8,0,12.336,5.52,12.336,12.336S316.816,430.832,310.016,430.832z"
            ></path>
                        <path
                                d="M310.016,466.224H201.76c-6.816,0-12.336-5.52-12.336-12.336c0-6.8,5.52-12.336,12.336-12.336h108.256
	c6.8,0,12.336,5.52,12.336,12.336S316.816,466.224,310.016,466.224z"
                        ></path>
                        <g>
              <path
                      style="fill:#fff;"
                      d="M196.08,481.072C204.384,499.024,228,512,255.888,512s51.504-12.976,59.808-30.928H196.08z"
              ></path>
                            <path
                                    style="fill:#fff;"
                                    d="M255.904,102.32L255.904,102.32h-0.016h-0.016l0,0c-105.76,0.096-158.864,107.728-110.24,180.576
		c46.16,69.152,42.336,108.352,42.336,108.352h67.792h0.256h67.792c0,0-3.824-39.184,42.336-108.352
		C414.768,210.032,361.664,102.416,255.904,102.32z"
                            ></path>
                            <rect
                                    x="255.936"
                                    y="102.288"
                                    style="fill:#fff;"
                                    width="0.048"
                                    height="0.048"></rect>
                            <path
                                    style="fill:#fff;"
                                    d="M256,82.208c-6.816,0-12.336-5.52-12.336-12.336V12.336C243.664,5.52,249.184,0,256,0
		c6.816,0,12.336,5.52,12.336,12.336v57.552C268.336,76.688,262.816,82.208,256,82.208z"
                            ></path>
                            <path
                                    style="fill:#fff;"
                                    d="M91.584,271.28H34.048c-6.816,0-12.336-5.52-12.336-12.336c0-6.8,5.52-12.336,12.336-12.336H91.6
		c6.816,0,12.336,5.52,12.336,12.336C103.92,265.76,98.4,271.28,91.584,271.28z"
                            ></path>
                            <path
                                    style="fill:#fff;"
                                    d="M477.952,271.28H420.4c-6.8,0-12.336-5.52-12.336-12.336c0-6.8,5.52-12.336,12.336-12.336h57.552
		c6.8,0,12.336,5.52,12.336,12.336C490.288,265.76,484.768,271.28,477.952,271.28z"
                            ></path>
                            <path
                                    style="fill:#fff;"
                                    d="M122.304,137.584c-3.152,0-6.304-1.2-8.72-3.616L72.896,93.28c-4.816-4.816-4.816-12.624,0-17.44
		s12.624-4.816,17.44,0l40.688,40.688c4.816,4.816,4.816,12.624,0,17.44C128.624,136.384,125.456,137.584,122.304,137.584z"
                            ></path>
                            <path
                                    style="fill:#fff;"
                                    d="M389.696,137.584c-3.152,0-6.304-1.2-8.72-3.616c-4.816-4.816-4.816-12.624,0-17.44l40.688-40.688
		c4.816-4.816,12.624-4.816,17.44,0s4.816,12.624,0,17.44l-40.688,40.688C396,136.384,392.848,137.584,389.696,137.584z"
                            ></path>
            </g>
                        <path
                                style="fill:#000;"
                                d="M249.552,279.2v-36.128c-11.264-3.216-19.52-8.096-24.784-14.608
	c-5.264-6.528-7.888-14.448-7.888-23.76c0-9.424,2.976-17.328,8.928-23.744c5.952-6.4,13.872-10.096,23.744-11.072v-8.528h12.496
	v8.528c9.136,1.088,16.416,4.224,21.808,9.36c5.408,5.136,8.864,12.032,10.336,20.64l-21.792,2.864
	c-1.328-6.784-4.784-11.392-10.352-13.792v33.696c13.792,3.728,23.2,8.576,28.192,14.528c4.992,5.952,7.504,13.584,7.504,22.896
	c0,10.4-3.136,19.168-9.44,26.304s-15.04,11.488-26.256,13.088V315.6h-12.496v-15.68c-9.952-1.2-18.016-4.928-24.224-11.12
	c-6.208-6.208-10.176-14.976-11.904-26.304l22.512-2.4c0.912,4.592,2.64,8.56,5.168,11.888
	C243.632,275.28,246.448,277.696,249.552,279.2z M249.552,188.656c-3.392,1.152-6.096,3.104-8.096,5.856
	c-2.016,2.768-3.008,5.808-3.008,9.136c0,3.04,0.912,5.872,2.752,8.496c1.84,2.608,4.624,4.72,8.352,6.336L249.552,188.656
	L249.552,188.656z M262.064,280.4c4.32-0.816,7.824-2.8,10.512-6c2.704-3.184,4.064-6.944,4.064-11.248
	c0-3.84-1.136-7.152-3.408-9.952c-2.272-2.784-6-4.928-11.168-6.416V280.4z"
                        ></path>
          </svg>
                </div>
                <div>
                    <h5>Entregamos Insights para tomar decisiones.</h5>
                </div>
            </div>
            <div class="about-right-benefits-item">
                <div class="about-right-benefits-item-icon">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none">
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M95.6195 71.2832C95.5609 70.8992 95.6164 70.5069 95.7731 70.1514C98.4909 63.987 100 57.1697 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100C57.1697 100 63.987 98.4909 70.1514 95.7731C70.5069 95.6164 70.8992 95.5609 71.2832 95.6195L97.3111 99.5898C98.6448 99.7933 99.7933 98.6448 99.5898 97.3111L95.6195 71.2832Z"
                                fill="#2196f3"></path>
                    </svg>
                    <!--?xml version="1.0" encoding="iso-8859-1"?-->
                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                    <svg
                            style="position: absolute; top: calc(50% - 35px); left: 17px"
                            height="70px"
                            width="70px"
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 512 512"
                            xml:space="preserve"
                    >
            <g>
              <path
                      style="fill:#fff;"
                      d="M349.36,261.158c-20.036,0-38.873-7.803-53.039-21.971l-23.507-23.506
		c-29.246-29.247-29.246-76.833-0.001-106.079l77.576-77.576c14.167-14.167,33.003-21.97,53.039-21.97s38.872,7.803,53.039,21.97
		l23.507,23.507c14.167,14.167,21.97,33.003,21.97,53.039s-7.803,38.872-21.97,53.039l-77.575,77.575
		C388.232,253.356,369.395,261.158,349.36,261.158z M403.427,60.34c-6.605,0-12.813,2.572-17.484,7.242l-77.575,77.575
		c-9.64,9.64-9.64,25.327,0,34.969l23.507,23.506c4.671,4.671,10.88,7.243,17.484,7.243s12.813-2.572,17.484-7.242l77.573-77.575
		c4.671-4.67,7.243-10.88,7.243-17.485s-2.572-12.813-7.243-17.485l-23.507-23.507C416.241,62.912,410.032,60.34,403.427,60.34z"
              ></path>
                <path
                        style="fill:#fff;"
                        d="M108.573,501.944c-20.035,0-38.872-7.803-53.038-21.968l-23.508-23.51
		c-14.167-14.167-21.97-33.003-21.97-53.038c0-20.035,7.803-38.872,21.971-53.039l77.575-77.575
		c14.167-14.167,33.003-21.97,53.039-21.97c20.035,0,38.872,7.803,53.038,21.968l23.508,23.508
		c29.246,29.246,29.246,76.833,0,106.079l-77.577,77.575C147.445,494.142,128.609,501.944,108.573,501.944z M162.642,301.127
		c-6.606,0-12.813,2.572-17.483,7.242l-77.576,77.576c-4.671,4.67-7.243,10.879-7.243,17.483c0,6.603,2.572,12.813,7.242,17.483
		l23.508,23.508c4.67,4.67,10.879,7.242,17.483,7.242s12.813-2.572,17.485-7.242l77.576-77.575c9.64-9.64,9.64-25.327-0.001-34.968
		l-23.507-23.508C175.455,303.699,169.246,301.127,162.642,301.127z"
                ></path>
            </g>
                        <path
                                style="fill:#fff;"
                                d="M180.776,356.366c-6.434,0-12.869-2.455-17.779-7.364c-9.818-9.819-9.818-25.737,0-35.555
	L310.76,165.684c9.819-9.819,25.738-9.819,35.556,0c9.818,9.819,9.818,25.737,0,35.555L198.553,349.003
	C193.645,353.912,187.21,356.366,180.776,356.366z"
                        ></path>
                        <g>
              <path
                      style="fill:#231F20;"
                      d="M322.614,400.18l-85.48,85.48c-3.927,3.927-3.927,10.294,0,14.221
		c1.965,1.964,4.537,2.945,7.111,2.945s5.148-0.982,7.111-2.945l85.48-85.48c3.927-3.927,3.927-10.294,0-14.221
		C332.908,396.251,326.543,396.251,322.614,400.18z"
              ></path>
                            <path
                                    style="fill:#231F20;"
                                    d="M158.765,125.707c2.574,0,5.148-0.982,7.111-2.945l76.681-76.681c3.927-3.927,3.927-10.294,0-14.221
		c-3.928-3.927-10.294-3.927-14.222,0l-76.681,76.681c-3.927,3.927-3.927,10.294,0,14.221
		C153.617,124.725,156.19,125.707,158.765,125.707z"
                            ></path>
                            <path
                                    style="fill:#231F20;"
                                    d="M487.086,48.424l-23.507-23.507c-16.068-16.068-37.43-24.916-60.152-24.916
		s-44.084,8.848-60.152,24.915l-77.576,77.576c-28.651,28.654-32.525,72.821-11.669,105.699l-45.815,45.815
		c-13.501-8.601-29.18-13.219-45.575-13.219c-22.723,0-44.085,8.848-60.152,24.915l-77.573,77.576
		C8.848,359.344,0,380.706,0,403.428s8.848,44.083,24.914,60.149l23.508,23.508c16.067,16.067,37.428,24.914,60.151,24.914
		s44.084-8.848,60.151-24.915L246.3,409.51c28.654-28.655,32.528-72.823,11.669-105.702l45.815-45.815
		c13.501,8.602,29.18,13.221,45.575,13.221c22.721,0,44.084-8.848,60.152-24.915l77.575-77.575
		C503.152,152.657,512,131.295,512,108.573S503.152,64.491,487.086,48.424z M353.428,158.574
		c-6.649-6.649-15.487-10.309-24.89-10.309c-3.693,0-7.296,0.573-10.718,1.662l75.232-75.233c2.772-2.772,6.456-4.297,10.375-4.297
		s7.601,1.526,10.372,4.297l23.508,23.508c2.771,2.771,4.297,6.454,4.297,10.372s-1.526,7.601-4.298,10.373l-75.269,75.272
		C365.918,182.063,363.055,168.201,353.428,158.574z M317.871,172.796c2.85-2.85,6.636-4.419,10.666-4.419s7.818,1.569,10.666,4.419
		c5.882,5.882,5.882,15.452,0,21.334L191.442,341.892c-2.85,2.85-6.637,4.419-10.666,4.419c-4.029,0-7.818-1.569-10.666-4.417
		c-5.882-5.882-5.882-15.452,0-21.334L317.871,172.796z M155.886,356.113c6.649,6.649,15.487,10.309,24.89,10.309
		c3.693,0,7.297-0.573,10.719-1.663l-72.548,72.546c-2.772,2.772-6.456,4.297-10.375,4.297s-7.603-1.526-10.372-4.295
		l-23.508-23.508c-2.771-2.771-4.297-6.454-4.297-10.372s1.526-7.601,4.298-10.373l72.582-72.582
		C143.397,332.628,146.261,346.487,155.886,356.113z M232.077,395.288L154.5,472.863c-12.266,12.268-28.577,19.023-45.927,19.023
		s-33.66-6.757-45.927-19.023l-23.508-23.508c-12.268-12.268-19.024-28.578-19.024-45.927s6.757-33.66,19.026-45.929l77.575-77.575
		c12.266-12.268,28.577-19.023,45.928-19.023c10.965,0,21.507,2.713,30.881,7.8l-23.227,23.227
		c-2.485-0.556-5.046-0.856-7.656-0.856c-9.291,0-18.025,3.618-24.594,10.187l-77.575,77.575
		c-6.569,6.568-10.189,15.303-10.189,24.594c0,9.291,3.618,18.025,10.187,24.593l23.508,23.508
		c6.571,6.569,15.305,10.187,24.594,10.187s18.025-3.618,24.596-10.187l77.576-77.575c6.562-6.562,10.176-15.297,10.176-24.594
		c0-2.607-0.299-5.165-0.854-7.648l23.204-23.204C256.548,343.113,252.836,374.529,232.077,395.288z M472.863,154.501
		l-77.575,77.575c-12.268,12.268-28.578,19.024-45.928,19.024c-10.965,0-21.507-2.713-30.882-7.8l23.226-23.226
		c2.486,0.557,5.047,0.857,7.657,0.857c9.291,0,18.025-3.618,24.596-10.187l77.572-77.575c6.571-6.569,10.189-15.305,10.189-24.596
		s-3.619-18.026-10.187-24.594l-23.507-23.507c-6.568-6.571-15.304-10.19-24.594-10.19s-18.025,3.618-24.596,10.187l-77.575,77.575
		c-8.732,8.732-11.824,20.985-9.31,32.23l-23.218,23.218c-13.276-24.606-9.564-56.021,11.194-76.78l77.576-77.576
		c12.266-12.266,28.578-19.023,45.928-19.023s33.66,6.757,45.928,19.024l23.507,23.507c12.268,12.268,19.024,28.579,19.024,45.928
		S485.13,142.234,472.863,154.501z"
                            ></path>
            </g>
          </svg>
                </div>
                <div>
                    <h5>Establecemos conexiones que perduran con el tiempo.</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .about {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
        background: rgba(132, 147, 182, 0.2);
        gap: 60px;
    }

    .about-left {
        flex-basis: 40%;
        height: 100%;
        padding: 0 50px;
    }

    .about-left-back {
        width: 100%;
        height: 100%;
        background-color: #8493b6;
        border-radius: 20px;
        padding: 90px 70px 0 70px;
        position: relative;
    }

    .about-left-back-company {
        position: absolute;
        bottom: -20px;
        left: -50px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;
        background-color: #fdf4eb;
        border-radius: 20px;
    }

    .about-left-container {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        background-color: #142133;
    }

    .about-right {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .about-right-title {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .about-right-title h4 {
        color: #8493b6;
        font-size: 28px;
    }

    .about-right-title h2 {
        font-size: 40px;
        font-weight: 700;
        color: #142133;
    }

    .about-right-benefits {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-right-benefits-item {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .about-right-benefits-item h5 {
        font-size: 24px;
        font-weight: 700;
    }

    .about-right-benefits-item p {
        font-size: 16px;
        font-weight: 400;
        color: #818181;
    }

    .about-right-benefits-item-icon {
        position: relative;
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 1024px) {
        .about {
            flex-direction: column;
            padding: 50px 30px;
            height: 100vh;
        }

        .about-right h4 {
            font-size: 24px;
        }

        .about-right h2 {
            font-size: 30px;
        }

        .about-right-benefits {
            gap: 50px;
        }

        .about-right-benefits-item h5 {
            font-size: 20px;
        }

        .about-right-benefits-item p {
            font-size: 12px;
        }

        .about-left {
            display: none;
        }
    }
</style>
