---

---

<section class="about">
    <div class="about-left">
        <div class="about-left-back">
            <div class="about-left-container">

            </div>
            <div class="about-left-back-company">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <path d="M13.3502 3.75H46.6924C47.8231 3.75 48.75 4.70625 48.75 5.8875V16.7438C48.75 17.4938 48.3607 18.2063 47.7304 18.5813L40.5938 22.8938L37.575 24.5362V25.5563H22.575V24.5259L19.575 22.8938L12.2906 18.5813C11.6473 18.2063 11.25 17.4938 11.25 16.7438V5.8875C11.25 4.70625 12.196 3.75 13.3502 3.75Z" fill="#0074BA"/>
                    <path d="M19.575 22.8938V3.75H24.45L24.4687 25.5563L19.575 22.8938Z" fill="#D3D3D3"/>
                    <path d="M35.7 25.5563V3.75H40.5937V22.8938L35.7 25.5563Z" fill="#D3D3D3"/>
                    <path d="M35.7 3.75H24.45V25.5563H35.7V3.75Z" fill="#F8312F"/>
                    <path d="M30.075 56.2501C40.4718 56.2501 48.9 47.612 48.9 36.9564C48.9 26.3007 40.4718 17.6626 30.075 17.6626C19.6782 17.6626 11.25 26.3007 11.25 36.9564C11.25 47.612 19.6782 56.2501 30.075 56.2501Z" fill="#FFB02E"/>
                    <path d="M30.0938 53.925C25.6688 53.925 21.5063 52.1625 18.3938 48.9563C15.2626 45.75 13.5376 41.4938 13.5376 36.9563C13.5376 32.4188 15.2626 28.1625 18.3938 24.9563C24.8438 18.3375 35.3438 18.3375 41.8126 24.9563C48.2626 31.575 48.2626 42.3375 41.8126 48.9563C38.6626 52.1625 34.5001 53.925 30.0938 53.925ZM30.0751 22.2938C26.4188 22.2938 22.7438 23.7188 19.9688 26.5875C17.2688 29.3625 15.7876 33.0375 15.7876 36.9563C15.7876 40.875 17.2688 44.55 19.9688 47.325C22.6688 50.1 26.2688 51.6188 30.0751 51.6188C33.9001 51.6188 37.4813 50.1 40.1813 47.325C45.7501 41.6063 45.7501 32.3063 40.1813 26.5875C37.4063 23.7188 33.7501 22.2938 30.0751 22.2938Z" fill="#FCD53F"/>
                    <path d="M31.2188 29.3626L32.7751 32.5876C32.9626 32.9626 33.3188 33.2439 33.7313 33.3001L37.2001 33.8251C38.2313 33.9751 38.6626 35.2876 37.8938 36.0376L35.4938 38.4376C35.1376 38.7938 35.0251 39.3188 35.1751 39.8063L36.2813 43.0126C36.6563 44.0813 35.6063 45.0938 34.5751 44.6438L30.5626 42.8439C30.2438 42.6939 29.8688 42.6939 29.5501 42.8439L25.5376 44.6438C24.5251 45.0938 23.4563 44.0813 23.8313 43.0126L24.9376 39.8063C25.1063 39.3188 24.9751 38.7938 24.6188 38.4376L22.2188 36.0376C21.4688 35.2876 21.8813 33.9751 22.9126 33.8251L26.3813 33.3001C26.7938 33.2439 27.1501 32.9813 27.3376 32.5876L28.8938 29.3626C29.4001 28.3876 30.7501 28.3876 31.2188 29.3626Z" fill="#6D4534"/>
                </svg>
                <div class="about-left-back-company-info">
                    <h4>Mejor Agencia de Medios</h4>
                    <p>Digitales 2024</p>
                </div>
            </div>
            <div class="about-left-back-icon">

            </div>
        </div>
    </div>
    <div class="about-right">
        <div class="about-right-title">
            <h4>¿Por qué nosotros?</h4>
            <h2>Beneficios de asociarse con Conectividad Global</h2>
        </div>
        <div class="about-right-benefits">
            <div class="about-right-benefits-item">
                <div class="about-right-benefits-item-icon">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M95.6195 71.2832C95.5609 70.8992 95.6164 70.5069 95.7731 70.1514C98.4909 63.987 100 57.1697 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100C57.1697 100 63.987 98.4909 70.1514 95.7731C70.5069 95.6164 70.8992 95.5609 71.2832 95.6195L97.3111 99.5898C98.6448 99.7933 99.7933 98.6448 99.5898 97.3111L95.6195 71.2832Z" fill="#030D03"/>
                    </svg>
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" style="position: absolute; top: calc(50% - 26px); left: 28px">
                        <path d="M18.4688 8.29695C18.4688 3.94695 21.6563 2.92195 23.4375 2.9532C27.0563 2.9532 28.061 5.96669 28.3594 7.57034C28.7304 9.56438 28.3673 14.3339 28.2007 16.5236L28.1959 16.586C28.434 16.5303 28.6911 16.5 28.9688 16.5H34.755C37.095 16.5 39 18.405 39 20.745C39 21.9541 38.612 23.0471 37.8519 23.8211C39.4184 24.5123 40.5 25.9628 40.5 27.6357C40.5 29.17 39.8059 30.5174 38.4535 31.2632C39.6886 32.0296 40.5 33.3118 40.5 34.7607C40.5 36.4223 39.686 37.8645 38.1036 38.5611C38.6651 39.14 39 40.0016 39 41.2524C39 43.3209 37.5469 45.0048 34.755 45.0048H28.9688C28.9006 45.0048 28.8335 45.0032 28.7675 45H24.0703C8.41406 45.2578 7.5 35.1094 7.5 30.9844C7.5 23.2503 10.9469 20.9512 14.0109 18.9076C15.4595 17.9414 16.8226 17.0322 17.6953 15.6328C18.4276 14.4587 18.4688 13.3828 18.4688 8.29695Z" fill="#FFC83D"/>
                        <path d="M28.5 16.5C26.9687 16.5469 22.5 17.3906 22.5 20.9531C22.5 22.8281 23.2031 23.8828 24.0469 24.4688C23.2031 24.8438 22.4531 26.2359 22.4531 27.9609C22.4531 29.8828 24.0469 31.2891 24.0469 31.2891C24.0469 31.2891 22.4531 32.8359 22.4531 34.6875C22.4531 36.0854 23.066 37.1169 24.0469 37.82C23.5156 38.1196 22.4531 39.1594 22.4531 40.9219C22.4531 43.0236 24.4154 44.7841 28.2587 44.9417C26.3862 44.595 25.4765 42.8793 25.4765 41.2524C25.4765 40.7146 25.6778 39.8513 26.1771 39.0882H34.5C34.9142 39.0882 35.25 38.7524 35.25 38.3382C35.25 37.924 34.9142 37.5882 34.5 37.5882H26.3834C25.7757 36.793 25.4765 35.762 25.4765 34.7606C25.4765 34.1376 25.711 33.1282 26.2956 32.25H34.5C34.9142 32.25 35.25 31.9142 35.25 31.5C35.25 31.0858 34.9142 30.75 34.5 30.75H26.626C25.8552 29.9264 25.4765 28.7622 25.4765 27.6356C25.4765 27.0998 25.65 26.2782 26.0704 25.5H34.5C34.9142 25.5 35.25 25.1642 35.25 24.75C35.25 24.3358 34.9142 24 34.5 24H26.7401C25.8951 23.1053 25.4765 21.7746 25.4765 20.745C25.4765 19.53 26.14 16.8454 28.5003 16.5304L28.5 16.5Z" fill="#D67D00"/>
                    </svg>
                </div>
                <div>
                    <h5>Resultados probados</h5>
                    <p>Conectividad Global ha ayudado a cientos de empresas a mejorar su presencia en línea y a aumentar sus ventas.</p>
                </div>
            </div>
            <div class="about-right-benefits-item">
                <div class="about-right-benefits-item-icon">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M95.6195 71.2832C95.5609 70.8992 95.6164 70.5069 95.7731 70.1514C98.4909 63.987 100 57.1697 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100C57.1697 100 63.987 98.4909 70.1514 95.7731C70.5069 95.6164 70.8992 95.5609 71.2832 95.6195L97.3111 99.5898C98.6448 99.7933 99.7933 98.6448 99.5898 97.3111L95.6195 71.2832Z" fill="#030D03"/>
                    </svg>
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" style="position: absolute; top: calc(50% - 26px); left: 28px">
                        <path d="M18.4688 8.29695C18.4688 3.94695 21.6563 2.92195 23.4375 2.9532C27.0563 2.9532 28.061 5.96669 28.3594 7.57034C28.7304 9.56438 28.3673 14.3339 28.2007 16.5236L28.1959 16.586C28.434 16.5303 28.6911 16.5 28.9688 16.5H34.755C37.095 16.5 39 18.405 39 20.745C39 21.9541 38.612 23.0471 37.8519 23.8211C39.4184 24.5123 40.5 25.9628 40.5 27.6357C40.5 29.17 39.8059 30.5174 38.4535 31.2632C39.6886 32.0296 40.5 33.3118 40.5 34.7607C40.5 36.4223 39.686 37.8645 38.1036 38.5611C38.6651 39.14 39 40.0016 39 41.2524C39 43.3209 37.5469 45.0048 34.755 45.0048H28.9688C28.9006 45.0048 28.8335 45.0032 28.7675 45H24.0703C8.41406 45.2578 7.5 35.1094 7.5 30.9844C7.5 23.2503 10.9469 20.9512 14.0109 18.9076C15.4595 17.9414 16.8226 17.0322 17.6953 15.6328C18.4276 14.4587 18.4688 13.3828 18.4688 8.29695Z" fill="#FFC83D"/>
                        <path d="M28.5 16.5C26.9687 16.5469 22.5 17.3906 22.5 20.9531C22.5 22.8281 23.2031 23.8828 24.0469 24.4688C23.2031 24.8438 22.4531 26.2359 22.4531 27.9609C22.4531 29.8828 24.0469 31.2891 24.0469 31.2891C24.0469 31.2891 22.4531 32.8359 22.4531 34.6875C22.4531 36.0854 23.066 37.1169 24.0469 37.82C23.5156 38.1196 22.4531 39.1594 22.4531 40.9219C22.4531 43.0236 24.4154 44.7841 28.2587 44.9417C26.3862 44.595 25.4765 42.8793 25.4765 41.2524C25.4765 40.7146 25.6778 39.8513 26.1771 39.0882H34.5C34.9142 39.0882 35.25 38.7524 35.25 38.3382C35.25 37.924 34.9142 37.5882 34.5 37.5882H26.3834C25.7757 36.793 25.4765 35.762 25.4765 34.7606C25.4765 34.1376 25.711 33.1282 26.2956 32.25H34.5C34.9142 32.25 35.25 31.9142 35.25 31.5C35.25 31.0858 34.9142 30.75 34.5 30.75H26.626C25.8552 29.9264 25.4765 28.7622 25.4765 27.6356C25.4765 27.0998 25.65 26.2782 26.0704 25.5H34.5C34.9142 25.5 35.25 25.1642 35.25 24.75C35.25 24.3358 34.9142 24 34.5 24H26.7401C25.8951 23.1053 25.4765 21.7746 25.4765 20.745C25.4765 19.53 26.14 16.8454 28.5003 16.5304L28.5 16.5Z" fill="#D67D00"/>
                    </svg>
                </div>
                <div>
                    <h5>Experiencia</h5>
                    <p>Contamos con un equipo de expertos en marketing digital, diseño web y desarrollo de software.</p>
                </div>
            </div>
            <div class="about-right-benefits-item">
                <div class="about-right-benefits-item-icon">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M95.6195 71.2832C95.5609 70.8992 95.6164 70.5069 95.7731 70.1514C98.4909 63.987 100 57.1697 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100C57.1697 100 63.987 98.4909 70.1514 95.7731C70.5069 95.6164 70.8992 95.5609 71.2832 95.6195L97.3111 99.5898C98.6448 99.7933 99.7933 98.6448 99.5898 97.3111L95.6195 71.2832Z" fill="#030D03"/>
                    </svg>
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" style="position: absolute; top: calc(50% - 26px); left: 28px">
                        <path d="M18.4688 8.29695C18.4688 3.94695 21.6563 2.92195 23.4375 2.9532C27.0563 2.9532 28.061 5.96669 28.3594 7.57034C28.7304 9.56438 28.3673 14.3339 28.2007 16.5236L28.1959 16.586C28.434 16.5303 28.6911 16.5 28.9688 16.5H34.755C37.095 16.5 39 18.405 39 20.745C39 21.9541 38.612 23.0471 37.8519 23.8211C39.4184 24.5123 40.5 25.9628 40.5 27.6357C40.5 29.17 39.8059 30.5174 38.4535 31.2632C39.6886 32.0296 40.5 33.3118 40.5 34.7607C40.5 36.4223 39.686 37.8645 38.1036 38.5611C38.6651 39.14 39 40.0016 39 41.2524C39 43.3209 37.5469 45.0048 34.755 45.0048H28.9688C28.9006 45.0048 28.8335 45.0032 28.7675 45H24.0703C8.41406 45.2578 7.5 35.1094 7.5 30.9844C7.5 23.2503 10.9469 20.9512 14.0109 18.9076C15.4595 17.9414 16.8226 17.0322 17.6953 15.6328C18.4276 14.4587 18.4688 13.3828 18.4688 8.29695Z" fill="#FFC83D"/>
                        <path d="M28.5 16.5C26.9687 16.5469 22.5 17.3906 22.5 20.9531C22.5 22.8281 23.2031 23.8828 24.0469 24.4688C23.2031 24.8438 22.4531 26.2359 22.4531 27.9609C22.4531 29.8828 24.0469 31.2891 24.0469 31.2891C24.0469 31.2891 22.4531 32.8359 22.4531 34.6875C22.4531 36.0854 23.066 37.1169 24.0469 37.82C23.5156 38.1196 22.4531 39.1594 22.4531 40.9219C22.4531 43.0236 24.4154 44.7841 28.2587 44.9417C26.3862 44.595 25.4765 42.8793 25.4765 41.2524C25.4765 40.7146 25.6778 39.8513 26.1771 39.0882H34.5C34.9142 39.0882 35.25 38.7524 35.25 38.3382C35.25 37.924 34.9142 37.5882 34.5 37.5882H26.3834C25.7757 36.793 25.4765 35.762 25.4765 34.7606C25.4765 34.1376 25.711 33.1282 26.2956 32.25H34.5C34.9142 32.25 35.25 31.9142 35.25 31.5C35.25 31.0858 34.9142 30.75 34.5 30.75H26.626C25.8552 29.9264 25.4765 28.7622 25.4765 27.6356C25.4765 27.0998 25.65 26.2782 26.0704 25.5H34.5C34.9142 25.5 35.25 25.1642 35.25 24.75C35.25 24.3358 34.9142 24 34.5 24H26.7401C25.8951 23.1053 25.4765 21.7746 25.4765 20.745C25.4765 19.53 26.14 16.8454 28.5003 16.5304L28.5 16.5Z" fill="#D67D00"/>
                    </svg>
                </div>
                <div>
                    <h5>Soporte personalizado</h5>
                    <p>Nuestro equipo de atención al cliente está disponible para ayudarte en todo momento.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .about
    {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
        background: rgba(132, 147, 182, 0.2);
        gap: 60px;
    }

    .about-left
    {
        flex-basis: 40%;
        height: 100%;
        padding: 0 50px;
    }

    .about-left-back
    {
        width: 100%;
        height: 100%;
        background-color: #8493B6;
        border-radius: 20px;
        padding: 90px 70px 0 70px;
        position: relative;
    }

    .about-left-back-company
    {
        position: absolute;
        bottom: -20px;
        left: -50px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;
        background-color: #FDF4EB;
        border-radius: 20px;
    }

    .about-left-container
    {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        background-color: #142133;
    }

    .about-right
    {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .about-right-title
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .about-right-title h4
    {
        color: #8493B6;
        font-size: 28px;
    }

    .about-right-title h2
    {
        font-size: 40px;
        font-weight: 700;
        color: #142133;
    }

    .about-right-benefits
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-right-benefits-item
    {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .about-right-benefits-item h5
    {
        font-size: 24px;
        font-weight: 700;
    }

    .about-right-benefits-item p
    {
        font-size: 16px;
        font-weight: 400;
        color: #818181;
    }

    .about-right-benefits-item-icon
    {
        position: relative;
        display: flex;
        align-items: center;
    }
</style>