---
import Layout from '../layouts/Layout.astro';
import Contact from "../components/home/contact/Contact.astro";
import Footer from "../components/shared/Footer.astro";
import Header from "../components/info/hero/Header.astro";
import AboutSection from "../components/info/about/AboutSection.astro";
import Results from "../components/info/results/Results.astro";
import FAQ from "../components/info/faq/FAQ.astro";

const links = [
	{ href: '#home', text: 'Inicio' },
	{ href: '#about', text: 'Acerca De' },
	{ href: '#results', text: 'Resultados' },
	{ href: '#faq', text: 'FAQ' },
	{ href: '#contact', text: 'Contacto' },
];
---

<Layout title="Conectividad Global">
	<main>
		<Header />
		<AboutSection />
		<Results />
		<FAQ />
		<Contact />
		<Footer
			links={links}
		/>
	</main>
</Layout>