---
import Layout from '../layouts/Layout.astro';
import Contact from "../components/home/contact/Contact.astro";
import Footer from "../components/shared/Footer.astro";
---

<Layout title="Conectividad Global">
	<main>
		<Contact />
		<Footer />
	</main>
</Layout>

<style>
	main
	{
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>