---
import Layout from '../layouts/Layout.astro';
import Header from "../components/home/hero/Header.astro";
import Service from "../components/home/service/Service.astro";
import Projects from "../components/home/projects/Projects.astro";
import Contact from "../components/home/contact/Contact.astro";
---

<Layout title="Conectividad Global">
	<main>
		<Header />
		<Service />
		<Projects />
		<Contact />
	</main>
</Layout>