---
import Layout from '../layouts/Layout.astro';
import Contact from "../components/home/contact/Contact.astro";
import Footer from "../components/shared/Footer.astro";
import Header from "../components/projects/hero/Header.astro";
import Services from "../components/projects/service/Service.astro";
import ProjectsSection from "../components/projects/projects/ProjectsSection.astro";

const links = [
	{ href: '#about', text: 'Inicio' },
	{ href: '#services', text: 'Servicios' },
	{ href: '#projects', text: 'Proyectos' },
	{ href: '#contact', text: 'Contacto' },
];
---

<Layout title="Conectividad Global">
	<main>
		<Header />
		<Services />
		<ProjectsSection />
		<Contact />
		<Footer
			links={links}
		/>
	</main>
</Layout>