---
import ProjectSection from "../../react-components/ProjectSection";
---

<section class="projects" id="projects">
    <div class="projects-top">
        <h1>Casos de éxito</h1>
        
    </div>
    <div class="projects-bottom">
        <ProjectSection client:visible/>
</section>

<style>
    .projects
    {
        background-color: #142133;
        padding: 100px;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .projects-top
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-top h1
    {
        font-size: 48px;
        font-weight: 600;
        text-align: center;
    }

    .projects-top p
    {
        align-self: center;
        font-size: 18px;
        text-align: center;
        font-weight: 200;
        width: 80%;
    }

    .projects-bottom
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @media screen and (max-width: 768px)
    {
        .projects
        {
            padding: 50px 20px;
        }

        .projects-top
        {
            gap: 10px;
        }

        .projects-top h1
        {
            font-size: 30px;
        }

        .projects-top p
        {
            font-size: 13px;
            width: 100%;
        }
    }
</style>