.contact-form
{
    width: 100%;
    height: 100%;
    padding: 60px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 65px;
}

.contact-form h1
{
    font-size: 32px;
    font-weight: 500;
}

.contact-form-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.contact-form-container input,
.contact-form-container textarea
{
    padding: 10px 0;
    border: none;
    border-bottom: 3px solid #142133;
    font-family: 'Outfit', sans-serif;
    color: #000;
}

.contact-form-container button
{
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    background-color: #142133;
    color: white;
    width: 200px;
    height: 55px;
    font-size: 16px;
    padding: 12px 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.contact-form-container button:hover
{
    transform: scale(1.1);
}