.footer-form form
{
    padding: 7px 10px;
    border-radius: 300px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer-form input
{
    font-size: 18px;
    flex-basis: 70%;
    border-radius: 300px;
    padding: 10px 14px;
    background: transparent;
    border: none;
    font-family: 'Outfit', sans-serif;
    color: #000;
}

.footer-form input[placeholder]
{
    color: rgba(0, 0, 0, 0.50);
}

.footer-form button
{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    flex-basis: 30%;
    border: none;
    border-radius: 300px;
    padding: 10px 15px;
    background: #8493B6;
    color: #FFF ;
    cursor: pointer;
}