.banner
{
    top: 20px;
    left: calc(50% - 30%);
    width: 60%;
    position: absolute;
    padding: 40px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    height: 100px;
    border: 3px solid #4CAF50;
    background-color: rgba(76, 175, 80, 0.7);
    color: white;
    animation: show 1s ease;
}

.unshow
{
    animation: unshow 3.5s ease;
}

@keyframes show
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes unshow
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}