---
import Button from "../../shared/Button.astro";
import TestimonialCard from "./TestimonialCard.astro";
---

<section class="testimonials">
    <div class="testimonials-left">
        <div class="testimonials-left-top">
            <h4>Testimonios</h4>
            <h2>Damos valor a tu negocio usando de métodos eficientes</h2>
            <p>Escucha a nuestros clientes satisfechos</p>
            <Button
                    text="Contáctanos"
                    color="light"
                    link="/servicios"
            />
        </div>
        <div class="testimonials-left-bottom">
            <h4>Nuestros Socios</h4>
            <div class="testimonials-left-bottom-partners">
                <div class="testimonials-left-bottom-partners-section">
                    <div class="testimonials-left-bottom-partners-section-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="142" height="39" viewBox="0 0 142 39"
                             fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M22.0595 1.94116C20.6903 0.572606 18.471 0.573055 17.1025 1.94217L5.68086 13.3685L5.67113 13.3656L5.63503 13.3695C5.6499 13.3766 5.66449 13.3837 5.67879 13.3909C3.6752 13.6007 2.8251 14.2028 2.81548 14.9761C2.81887 15.2637 2.93688 15.5743 3.15364 15.8967L3.14321 15.9072C4.96469 18.6544 13.9882 22.2784 20.3721 19.823C15.5876 22.2153 4.31995 22.6894 1.01046 18.0446C0.291743 18.8221 -0.00896313 19.8439 0.104278 20.8258C0.978553 25.6446 10.753 26.9592 20.5275 19.9775L22.6427 22.0926C20.0107 24.7967 16.1229 40.5034 21.8997 38.1053C22.0367 38.0123 22.153 37.929 22.3112 37.8093L22.5687 37.5663C22.5539 37.5699 22.5391 37.5734 22.5244 37.5769L37.9961 22.9708C39.4326 21.6145 39.4651 19.3397 38.0678 17.943L22.0595 1.94116ZM20.3746 6.70115L20.9034 4.586L21.4322 6.70115L23.0186 7.22994L21.4322 7.75874L20.9034 9.8739L20.3746 7.75874L18.7882 7.22994L20.3746 6.70115ZM13.8295 13.606L14.182 12.1958L14.5345 13.606L15.5922 13.9585L14.5345 14.311L14.182 15.7211L13.8295 14.311L12.772 13.9585L13.8295 13.606ZM26.1075 25.5001L25.755 26.9102L24.6974 27.2628L25.755 27.6153L26.1075 29.0253L26.46 27.6153L27.5176 27.2628L26.46 26.9102L26.1075 25.5001Z"
                                  fill="#4845D2"/>
                            <path d="M47.9922 9.7793H44.709V24.5939H53.798V21.6911H47.9922V9.7793Z" fill="#4845D2"/>
                            <path d="M54.1113 19.5694C54.1113 22.7325 56.2334 24.8346 59.4366 24.8346C62.6198 24.8346 64.7418 22.7325 64.7418 19.5694C64.7418 16.4062 62.6198 14.2842 59.4366 14.2842C56.2334 14.2842 54.1113 16.4062 54.1113 19.5694ZM57.2144 19.5494C57.2144 18.0479 58.0953 17.0469 59.4366 17.0469C60.7579 17.0469 61.6388 18.0479 61.6388 19.5494C61.6388 21.0709 60.7579 22.0719 59.4366 22.0719C58.0953 22.0719 57.2144 21.0709 57.2144 19.5494Z"
                                  fill="#4845D2"/>
                            <path d="M65.2382 19.4088C65.2382 22.4317 67.2002 24.4737 69.9829 24.4737C71.3243 24.4737 72.4854 23.9932 73.0659 23.2125V24.5939C73.0659 25.9752 72.2051 26.8962 70.6836 26.8962C69.3222 26.8962 68.3814 26.2555 68.3213 25.1144H65.1982C65.4784 27.8571 67.6006 29.699 70.5034 29.699C73.9269 29.699 76.089 27.4767 76.089 23.9532V14.584H73.3062L73.1461 15.6049C72.5855 14.7842 71.4043 14.2437 70.043 14.2437C67.2403 14.2437 65.2382 16.3457 65.2382 19.4088ZM68.3613 19.3287C68.3613 17.8873 69.3223 16.9263 70.5435 16.9263C71.9649 16.9263 73.0059 17.8672 73.0059 19.3287C73.0059 20.7901 71.985 21.7911 70.5635 21.7911C69.3423 21.7911 68.3613 20.7901 68.3613 19.3287Z"
                                  fill="#4845D2"/>
                            <path d="M76.9873 19.5694C76.9873 22.7325 79.1093 24.8346 82.3125 24.8346C85.4957 24.8346 87.6178 22.7325 87.6178 19.5694C87.6178 16.4062 85.4957 14.2842 82.3125 14.2842C79.1093 14.2842 76.9873 16.4062 76.9873 19.5694ZM80.0903 19.5494C80.0903 18.0479 80.9712 17.0469 82.3125 17.0469C83.6339 17.0469 84.5147 18.0479 84.5147 19.5494C84.5147 21.0709 83.6339 22.0719 82.3125 22.0719C80.9712 22.0719 80.0903 21.0709 80.0903 19.5494Z"
                                  fill="#4845D2"/>
                            <path d="M90.2761 13.023C91.2366 13.023 92.0175 12.2423 92.0175 11.2613C92.0175 10.2803 91.2366 9.51953 90.2761 9.51953C89.295 9.51953 88.5142 10.2803 88.5142 11.2613C88.5142 12.2423 89.295 13.023 90.2761 13.023ZM88.7143 24.5945H91.8177V14.5846H88.7143V24.5945Z"
                                  fill="#4845D2"/>
                            <path d="M93.6235 29.3981H96.6665V23.5924C97.2476 24.3532 98.5684 24.8737 99.9506 24.8737C102.933 24.8737 104.735 22.5915 104.654 19.4283C104.575 16.2051 102.713 14.2632 99.9304 14.2632C98.5088 14.2632 97.1679 14.8838 96.607 15.8048L96.4466 14.5835H93.6235V29.3981ZM96.727 19.5884C96.727 18.087 97.7279 17.086 99.1697 17.086C100.631 17.086 101.552 18.107 101.552 19.5884C101.552 21.07 100.631 22.0909 99.1697 22.0909C97.7279 22.0909 96.727 21.0899 96.727 19.5884Z"
                                  fill="#4845D2"/>
                            <path d="M104.983 21.4303C105.063 23.4523 106.665 24.8536 109.188 24.8536C111.61 24.8536 113.292 23.5724 113.292 21.5104C113.292 20.0289 112.41 19.0479 110.769 18.6476L108.987 18.2071C108.346 18.0469 107.947 17.8868 107.947 17.3663C107.947 16.8458 108.366 16.5054 108.987 16.5054C109.688 16.5054 110.148 16.9659 110.128 17.6466H112.912C112.831 15.5645 111.25 14.2632 109.047 14.2632C106.825 14.2632 105.164 15.5845 105.164 17.5865C105.164 18.9279 105.905 20.0289 107.886 20.5494L109.648 21.0098C110.168 21.15 110.388 21.3902 110.388 21.7306C110.388 22.2311 109.928 22.5514 109.147 22.5514C108.246 22.5514 107.766 22.131 107.766 21.4303H104.983Z"
                                  fill="#4845D2"/>
                            <path d="M118.01 24.8541C119.232 24.8541 120.453 24.2936 121.073 23.4727L121.274 24.5939H124.177V14.584H121.094V19.7892C121.094 21.2906 120.653 22.1115 119.232 22.1115C118.13 22.1115 117.41 21.6109 117.41 19.7491V14.584H114.327V20.8702C114.327 23.2526 115.648 24.8541 118.01 24.8541Z"
                                  fill="#4845D2"/>
                            <path d="M129.066 24.5939V19.1285C129.066 17.4468 129.967 16.9663 130.848 16.9663C131.828 16.9663 132.469 17.5669 132.469 18.8081V24.5939H135.512V19.1285C135.512 17.4268 136.393 16.9463 137.274 16.9463C138.254 16.9463 138.915 17.5469 138.915 18.8081V24.5939H141.919V18.0474C141.919 15.7652 140.717 14.2437 138.134 14.2437C136.694 14.2437 135.512 14.9444 134.991 16.0254C134.391 14.9444 133.35 14.2437 131.688 14.2437C130.587 14.2437 129.566 14.7441 128.966 15.5449L128.846 14.584H125.962V24.5939H129.066Z"
                                  fill="#4845D2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M39.1876 3.3418C35.88 3.3418 32.7432 4.81097 30.6257 7.35196L23.0924 16.392L27.4425 9.86684L20.2218 12.9614C19.3047 13.3545 19.0747 14.5492 19.7801 15.2547L22.1037 17.5783L20.9173 19.002L23.5274 21.612L24.951 20.4256L27.2747 22.7493C27.9801 23.4546 29.1749 23.2246 29.5679 22.3077L32.6625 15.087L26.1374 19.437L35.1774 11.9036C37.7184 9.78618 39.1876 6.64942 39.1876 3.3418ZM32.0101 10.5195C32.7308 11.2402 33.8993 11.2402 34.6201 10.5195C35.3408 9.79874 35.3408 8.63021 34.6201 7.90952C33.8993 7.18874 32.7308 7.18874 32.0101 7.90952C31.2893 8.63021 31.2893 9.79874 32.0101 10.5195Z"
                                  fill="#A3A2FF"/>
                            <path opacity="0.6"
                                  d="M0.92627 17.9233C2.65442 23.8442 13.1612 23.5355 20.3698 19.8242C15.5428 22.2362 4.12418 22.6969 0.92627 17.9233Z"
                                  fill="#424242"/>
                            <path opacity="0.6"
                                  d="M21.8999 38.1051C17.0322 40.1258 19.0267 29.2916 21.3496 24.2139C19.6563 28.7272 18.2109 38.6766 22.5689 37.5661L22.3114 37.8092C22.1533 37.9289 22.0369 38.0121 21.8999 38.1051Z"
                                  fill="#424242"/>
                        </svg>
                    </div>
                    <div class="testimonials-left-bottom-partners-section-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="142" height="39" viewBox="0 0 142 39"
                             fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M22.0595 1.94116C20.6903 0.572606 18.471 0.573055 17.1025 1.94217L5.68086 13.3685L5.67113 13.3656L5.63503 13.3695C5.6499 13.3766 5.66449 13.3837 5.67879 13.3909C3.6752 13.6007 2.8251 14.2028 2.81548 14.9761C2.81887 15.2637 2.93688 15.5743 3.15364 15.8967L3.14321 15.9072C4.96469 18.6544 13.9882 22.2784 20.3721 19.823C15.5876 22.2153 4.31995 22.6894 1.01046 18.0446C0.291743 18.8221 -0.00896313 19.8439 0.104278 20.8258C0.978553 25.6446 10.753 26.9592 20.5275 19.9775L22.6427 22.0926C20.0107 24.7967 16.1229 40.5034 21.8997 38.1053C22.0367 38.0123 22.153 37.929 22.3112 37.8093L22.5687 37.5663C22.5539 37.5699 22.5391 37.5734 22.5244 37.5769L37.9961 22.9708C39.4326 21.6145 39.4651 19.3397 38.0678 17.943L22.0595 1.94116ZM20.3746 6.70115L20.9034 4.586L21.4322 6.70115L23.0186 7.22994L21.4322 7.75874L20.9034 9.8739L20.3746 7.75874L18.7882 7.22994L20.3746 6.70115ZM13.8295 13.606L14.182 12.1958L14.5345 13.606L15.5922 13.9585L14.5345 14.311L14.182 15.7211L13.8295 14.311L12.772 13.9585L13.8295 13.606ZM26.1075 25.5001L25.755 26.9102L24.6974 27.2628L25.755 27.6153L26.1075 29.0253L26.46 27.6153L27.5176 27.2628L26.46 26.9102L26.1075 25.5001Z"
                                  fill="#4845D2"/>
                            <path d="M47.9922 9.7793H44.709V24.5939H53.798V21.6911H47.9922V9.7793Z" fill="#4845D2"/>
                            <path d="M54.1113 19.5694C54.1113 22.7325 56.2334 24.8346 59.4366 24.8346C62.6198 24.8346 64.7418 22.7325 64.7418 19.5694C64.7418 16.4062 62.6198 14.2842 59.4366 14.2842C56.2334 14.2842 54.1113 16.4062 54.1113 19.5694ZM57.2144 19.5494C57.2144 18.0479 58.0953 17.0469 59.4366 17.0469C60.7579 17.0469 61.6388 18.0479 61.6388 19.5494C61.6388 21.0709 60.7579 22.0719 59.4366 22.0719C58.0953 22.0719 57.2144 21.0709 57.2144 19.5494Z"
                                  fill="#4845D2"/>
                            <path d="M65.2382 19.4088C65.2382 22.4317 67.2002 24.4737 69.9829 24.4737C71.3243 24.4737 72.4854 23.9932 73.0659 23.2125V24.5939C73.0659 25.9752 72.2051 26.8962 70.6836 26.8962C69.3222 26.8962 68.3814 26.2555 68.3213 25.1144H65.1982C65.4784 27.8571 67.6006 29.699 70.5034 29.699C73.9269 29.699 76.089 27.4767 76.089 23.9532V14.584H73.3062L73.1461 15.6049C72.5855 14.7842 71.4043 14.2437 70.043 14.2437C67.2403 14.2437 65.2382 16.3457 65.2382 19.4088ZM68.3613 19.3287C68.3613 17.8873 69.3223 16.9263 70.5435 16.9263C71.9649 16.9263 73.0059 17.8672 73.0059 19.3287C73.0059 20.7901 71.985 21.7911 70.5635 21.7911C69.3423 21.7911 68.3613 20.7901 68.3613 19.3287Z"
                                  fill="#4845D2"/>
                            <path d="M76.9873 19.5694C76.9873 22.7325 79.1093 24.8346 82.3125 24.8346C85.4957 24.8346 87.6178 22.7325 87.6178 19.5694C87.6178 16.4062 85.4957 14.2842 82.3125 14.2842C79.1093 14.2842 76.9873 16.4062 76.9873 19.5694ZM80.0903 19.5494C80.0903 18.0479 80.9712 17.0469 82.3125 17.0469C83.6339 17.0469 84.5147 18.0479 84.5147 19.5494C84.5147 21.0709 83.6339 22.0719 82.3125 22.0719C80.9712 22.0719 80.0903 21.0709 80.0903 19.5494Z"
                                  fill="#4845D2"/>
                            <path d="M90.2761 13.023C91.2366 13.023 92.0175 12.2423 92.0175 11.2613C92.0175 10.2803 91.2366 9.51953 90.2761 9.51953C89.295 9.51953 88.5142 10.2803 88.5142 11.2613C88.5142 12.2423 89.295 13.023 90.2761 13.023ZM88.7143 24.5945H91.8177V14.5846H88.7143V24.5945Z"
                                  fill="#4845D2"/>
                            <path d="M93.6235 29.3981H96.6665V23.5924C97.2476 24.3532 98.5684 24.8737 99.9506 24.8737C102.933 24.8737 104.735 22.5915 104.654 19.4283C104.575 16.2051 102.713 14.2632 99.9304 14.2632C98.5088 14.2632 97.1679 14.8838 96.607 15.8048L96.4466 14.5835H93.6235V29.3981ZM96.727 19.5884C96.727 18.087 97.7279 17.086 99.1697 17.086C100.631 17.086 101.552 18.107 101.552 19.5884C101.552 21.07 100.631 22.0909 99.1697 22.0909C97.7279 22.0909 96.727 21.0899 96.727 19.5884Z"
                                  fill="#4845D2"/>
                            <path d="M104.983 21.4303C105.063 23.4523 106.665 24.8536 109.188 24.8536C111.61 24.8536 113.292 23.5724 113.292 21.5104C113.292 20.0289 112.41 19.0479 110.769 18.6476L108.987 18.2071C108.346 18.0469 107.947 17.8868 107.947 17.3663C107.947 16.8458 108.366 16.5054 108.987 16.5054C109.688 16.5054 110.148 16.9659 110.128 17.6466H112.912C112.831 15.5645 111.25 14.2632 109.047 14.2632C106.825 14.2632 105.164 15.5845 105.164 17.5865C105.164 18.9279 105.905 20.0289 107.886 20.5494L109.648 21.0098C110.168 21.15 110.388 21.3902 110.388 21.7306C110.388 22.2311 109.928 22.5514 109.147 22.5514C108.246 22.5514 107.766 22.131 107.766 21.4303H104.983Z"
                                  fill="#4845D2"/>
                            <path d="M118.01 24.8541C119.232 24.8541 120.453 24.2936 121.073 23.4727L121.274 24.5939H124.177V14.584H121.094V19.7892C121.094 21.2906 120.653 22.1115 119.232 22.1115C118.13 22.1115 117.41 21.6109 117.41 19.7491V14.584H114.327V20.8702C114.327 23.2526 115.648 24.8541 118.01 24.8541Z"
                                  fill="#4845D2"/>
                            <path d="M129.066 24.5939V19.1285C129.066 17.4468 129.967 16.9663 130.848 16.9663C131.828 16.9663 132.469 17.5669 132.469 18.8081V24.5939H135.512V19.1285C135.512 17.4268 136.393 16.9463 137.274 16.9463C138.254 16.9463 138.915 17.5469 138.915 18.8081V24.5939H141.919V18.0474C141.919 15.7652 140.717 14.2437 138.134 14.2437C136.694 14.2437 135.512 14.9444 134.991 16.0254C134.391 14.9444 133.35 14.2437 131.688 14.2437C130.587 14.2437 129.566 14.7441 128.966 15.5449L128.846 14.584H125.962V24.5939H129.066Z"
                                  fill="#4845D2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M39.1876 3.3418C35.88 3.3418 32.7432 4.81097 30.6257 7.35196L23.0924 16.392L27.4425 9.86684L20.2218 12.9614C19.3047 13.3545 19.0747 14.5492 19.7801 15.2547L22.1037 17.5783L20.9173 19.002L23.5274 21.612L24.951 20.4256L27.2747 22.7493C27.9801 23.4546 29.1749 23.2246 29.5679 22.3077L32.6625 15.087L26.1374 19.437L35.1774 11.9036C37.7184 9.78618 39.1876 6.64942 39.1876 3.3418ZM32.0101 10.5195C32.7308 11.2402 33.8993 11.2402 34.6201 10.5195C35.3408 9.79874 35.3408 8.63021 34.6201 7.90952C33.8993 7.18874 32.7308 7.18874 32.0101 7.90952C31.2893 8.63021 31.2893 9.79874 32.0101 10.5195Z"
                                  fill="#A3A2FF"/>
                            <path opacity="0.6"
                                  d="M0.92627 17.9233C2.65442 23.8442 13.1612 23.5355 20.3698 19.8242C15.5428 22.2362 4.12418 22.6969 0.92627 17.9233Z"
                                  fill="#424242"/>
                            <path opacity="0.6"
                                  d="M21.8999 38.1051C17.0322 40.1258 19.0267 29.2916 21.3496 24.2139C19.6563 28.7272 18.2109 38.6766 22.5689 37.5661L22.3114 37.8092C22.1533 37.9289 22.0369 38.0121 21.8999 38.1051Z"
                                  fill="#424242"/>
                        </svg>
                    </div>
                </div>
                <div class="testimonials-left-bottom-partners-section">
                    <div class="testimonials-left-bottom-partners-section-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="142" height="39" viewBox="0 0 142 39"
                             fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M22.0595 1.94116C20.6903 0.572606 18.471 0.573055 17.1025 1.94217L5.68086 13.3685L5.67113 13.3656L5.63503 13.3695C5.6499 13.3766 5.66449 13.3837 5.67879 13.3909C3.6752 13.6007 2.8251 14.2028 2.81548 14.9761C2.81887 15.2637 2.93688 15.5743 3.15364 15.8967L3.14321 15.9072C4.96469 18.6544 13.9882 22.2784 20.3721 19.823C15.5876 22.2153 4.31995 22.6894 1.01046 18.0446C0.291743 18.8221 -0.00896313 19.8439 0.104278 20.8258C0.978553 25.6446 10.753 26.9592 20.5275 19.9775L22.6427 22.0926C20.0107 24.7967 16.1229 40.5034 21.8997 38.1053C22.0367 38.0123 22.153 37.929 22.3112 37.8093L22.5687 37.5663C22.5539 37.5699 22.5391 37.5734 22.5244 37.5769L37.9961 22.9708C39.4326 21.6145 39.4651 19.3397 38.0678 17.943L22.0595 1.94116ZM20.3746 6.70115L20.9034 4.586L21.4322 6.70115L23.0186 7.22994L21.4322 7.75874L20.9034 9.8739L20.3746 7.75874L18.7882 7.22994L20.3746 6.70115ZM13.8295 13.606L14.182 12.1958L14.5345 13.606L15.5922 13.9585L14.5345 14.311L14.182 15.7211L13.8295 14.311L12.772 13.9585L13.8295 13.606ZM26.1075 25.5001L25.755 26.9102L24.6974 27.2628L25.755 27.6153L26.1075 29.0253L26.46 27.6153L27.5176 27.2628L26.46 26.9102L26.1075 25.5001Z"
                                  fill="#4845D2"/>
                            <path d="M47.9922 9.7793H44.709V24.5939H53.798V21.6911H47.9922V9.7793Z" fill="#4845D2"/>
                            <path d="M54.1113 19.5694C54.1113 22.7325 56.2334 24.8346 59.4366 24.8346C62.6198 24.8346 64.7418 22.7325 64.7418 19.5694C64.7418 16.4062 62.6198 14.2842 59.4366 14.2842C56.2334 14.2842 54.1113 16.4062 54.1113 19.5694ZM57.2144 19.5494C57.2144 18.0479 58.0953 17.0469 59.4366 17.0469C60.7579 17.0469 61.6388 18.0479 61.6388 19.5494C61.6388 21.0709 60.7579 22.0719 59.4366 22.0719C58.0953 22.0719 57.2144 21.0709 57.2144 19.5494Z"
                                  fill="#4845D2"/>
                            <path d="M65.2382 19.4088C65.2382 22.4317 67.2002 24.4737 69.9829 24.4737C71.3243 24.4737 72.4854 23.9932 73.0659 23.2125V24.5939C73.0659 25.9752 72.2051 26.8962 70.6836 26.8962C69.3222 26.8962 68.3814 26.2555 68.3213 25.1144H65.1982C65.4784 27.8571 67.6006 29.699 70.5034 29.699C73.9269 29.699 76.089 27.4767 76.089 23.9532V14.584H73.3062L73.1461 15.6049C72.5855 14.7842 71.4043 14.2437 70.043 14.2437C67.2403 14.2437 65.2382 16.3457 65.2382 19.4088ZM68.3613 19.3287C68.3613 17.8873 69.3223 16.9263 70.5435 16.9263C71.9649 16.9263 73.0059 17.8672 73.0059 19.3287C73.0059 20.7901 71.985 21.7911 70.5635 21.7911C69.3423 21.7911 68.3613 20.7901 68.3613 19.3287Z"
                                  fill="#4845D2"/>
                            <path d="M76.9873 19.5694C76.9873 22.7325 79.1093 24.8346 82.3125 24.8346C85.4957 24.8346 87.6178 22.7325 87.6178 19.5694C87.6178 16.4062 85.4957 14.2842 82.3125 14.2842C79.1093 14.2842 76.9873 16.4062 76.9873 19.5694ZM80.0903 19.5494C80.0903 18.0479 80.9712 17.0469 82.3125 17.0469C83.6339 17.0469 84.5147 18.0479 84.5147 19.5494C84.5147 21.0709 83.6339 22.0719 82.3125 22.0719C80.9712 22.0719 80.0903 21.0709 80.0903 19.5494Z"
                                  fill="#4845D2"/>
                            <path d="M90.2761 13.023C91.2366 13.023 92.0175 12.2423 92.0175 11.2613C92.0175 10.2803 91.2366 9.51953 90.2761 9.51953C89.295 9.51953 88.5142 10.2803 88.5142 11.2613C88.5142 12.2423 89.295 13.023 90.2761 13.023ZM88.7143 24.5945H91.8177V14.5846H88.7143V24.5945Z"
                                  fill="#4845D2"/>
                            <path d="M93.6235 29.3981H96.6665V23.5924C97.2476 24.3532 98.5684 24.8737 99.9506 24.8737C102.933 24.8737 104.735 22.5915 104.654 19.4283C104.575 16.2051 102.713 14.2632 99.9304 14.2632C98.5088 14.2632 97.1679 14.8838 96.607 15.8048L96.4466 14.5835H93.6235V29.3981ZM96.727 19.5884C96.727 18.087 97.7279 17.086 99.1697 17.086C100.631 17.086 101.552 18.107 101.552 19.5884C101.552 21.07 100.631 22.0909 99.1697 22.0909C97.7279 22.0909 96.727 21.0899 96.727 19.5884Z"
                                  fill="#4845D2"/>
                            <path d="M104.983 21.4303C105.063 23.4523 106.665 24.8536 109.188 24.8536C111.61 24.8536 113.292 23.5724 113.292 21.5104C113.292 20.0289 112.41 19.0479 110.769 18.6476L108.987 18.2071C108.346 18.0469 107.947 17.8868 107.947 17.3663C107.947 16.8458 108.366 16.5054 108.987 16.5054C109.688 16.5054 110.148 16.9659 110.128 17.6466H112.912C112.831 15.5645 111.25 14.2632 109.047 14.2632C106.825 14.2632 105.164 15.5845 105.164 17.5865C105.164 18.9279 105.905 20.0289 107.886 20.5494L109.648 21.0098C110.168 21.15 110.388 21.3902 110.388 21.7306C110.388 22.2311 109.928 22.5514 109.147 22.5514C108.246 22.5514 107.766 22.131 107.766 21.4303H104.983Z"
                                  fill="#4845D2"/>
                            <path d="M118.01 24.8541C119.232 24.8541 120.453 24.2936 121.073 23.4727L121.274 24.5939H124.177V14.584H121.094V19.7892C121.094 21.2906 120.653 22.1115 119.232 22.1115C118.13 22.1115 117.41 21.6109 117.41 19.7491V14.584H114.327V20.8702C114.327 23.2526 115.648 24.8541 118.01 24.8541Z"
                                  fill="#4845D2"/>
                            <path d="M129.066 24.5939V19.1285C129.066 17.4468 129.967 16.9663 130.848 16.9663C131.828 16.9663 132.469 17.5669 132.469 18.8081V24.5939H135.512V19.1285C135.512 17.4268 136.393 16.9463 137.274 16.9463C138.254 16.9463 138.915 17.5469 138.915 18.8081V24.5939H141.919V18.0474C141.919 15.7652 140.717 14.2437 138.134 14.2437C136.694 14.2437 135.512 14.9444 134.991 16.0254C134.391 14.9444 133.35 14.2437 131.688 14.2437C130.587 14.2437 129.566 14.7441 128.966 15.5449L128.846 14.584H125.962V24.5939H129.066Z"
                                  fill="#4845D2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M39.1876 3.3418C35.88 3.3418 32.7432 4.81097 30.6257 7.35196L23.0924 16.392L27.4425 9.86684L20.2218 12.9614C19.3047 13.3545 19.0747 14.5492 19.7801 15.2547L22.1037 17.5783L20.9173 19.002L23.5274 21.612L24.951 20.4256L27.2747 22.7493C27.9801 23.4546 29.1749 23.2246 29.5679 22.3077L32.6625 15.087L26.1374 19.437L35.1774 11.9036C37.7184 9.78618 39.1876 6.64942 39.1876 3.3418ZM32.0101 10.5195C32.7308 11.2402 33.8993 11.2402 34.6201 10.5195C35.3408 9.79874 35.3408 8.63021 34.6201 7.90952C33.8993 7.18874 32.7308 7.18874 32.0101 7.90952C31.2893 8.63021 31.2893 9.79874 32.0101 10.5195Z"
                                  fill="#A3A2FF"/>
                            <path opacity="0.6"
                                  d="M0.92627 17.9233C2.65442 23.8442 13.1612 23.5355 20.3698 19.8242C15.5428 22.2362 4.12418 22.6969 0.92627 17.9233Z"
                                  fill="#424242"/>
                            <path opacity="0.6"
                                  d="M21.8999 38.1051C17.0322 40.1258 19.0267 29.2916 21.3496 24.2139C19.6563 28.7272 18.2109 38.6766 22.5689 37.5661L22.3114 37.8092C22.1533 37.9289 22.0369 38.0121 21.8999 38.1051Z"
                                  fill="#424242"/>
                        </svg>
                    </div>
                    <div class="testimonials-left-bottom-partners-section-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="142" height="39" viewBox="0 0 142 39"
                             fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M22.0595 1.94116C20.6903 0.572606 18.471 0.573055 17.1025 1.94217L5.68086 13.3685L5.67113 13.3656L5.63503 13.3695C5.6499 13.3766 5.66449 13.3837 5.67879 13.3909C3.6752 13.6007 2.8251 14.2028 2.81548 14.9761C2.81887 15.2637 2.93688 15.5743 3.15364 15.8967L3.14321 15.9072C4.96469 18.6544 13.9882 22.2784 20.3721 19.823C15.5876 22.2153 4.31995 22.6894 1.01046 18.0446C0.291743 18.8221 -0.00896313 19.8439 0.104278 20.8258C0.978553 25.6446 10.753 26.9592 20.5275 19.9775L22.6427 22.0926C20.0107 24.7967 16.1229 40.5034 21.8997 38.1053C22.0367 38.0123 22.153 37.929 22.3112 37.8093L22.5687 37.5663C22.5539 37.5699 22.5391 37.5734 22.5244 37.5769L37.9961 22.9708C39.4326 21.6145 39.4651 19.3397 38.0678 17.943L22.0595 1.94116ZM20.3746 6.70115L20.9034 4.586L21.4322 6.70115L23.0186 7.22994L21.4322 7.75874L20.9034 9.8739L20.3746 7.75874L18.7882 7.22994L20.3746 6.70115ZM13.8295 13.606L14.182 12.1958L14.5345 13.606L15.5922 13.9585L14.5345 14.311L14.182 15.7211L13.8295 14.311L12.772 13.9585L13.8295 13.606ZM26.1075 25.5001L25.755 26.9102L24.6974 27.2628L25.755 27.6153L26.1075 29.0253L26.46 27.6153L27.5176 27.2628L26.46 26.9102L26.1075 25.5001Z"
                                  fill="#4845D2"/>
                            <path d="M47.9922 9.7793H44.709V24.5939H53.798V21.6911H47.9922V9.7793Z" fill="#4845D2"/>
                            <path d="M54.1113 19.5694C54.1113 22.7325 56.2334 24.8346 59.4366 24.8346C62.6198 24.8346 64.7418 22.7325 64.7418 19.5694C64.7418 16.4062 62.6198 14.2842 59.4366 14.2842C56.2334 14.2842 54.1113 16.4062 54.1113 19.5694ZM57.2144 19.5494C57.2144 18.0479 58.0953 17.0469 59.4366 17.0469C60.7579 17.0469 61.6388 18.0479 61.6388 19.5494C61.6388 21.0709 60.7579 22.0719 59.4366 22.0719C58.0953 22.0719 57.2144 21.0709 57.2144 19.5494Z"
                                  fill="#4845D2"/>
                            <path d="M65.2382 19.4088C65.2382 22.4317 67.2002 24.4737 69.9829 24.4737C71.3243 24.4737 72.4854 23.9932 73.0659 23.2125V24.5939C73.0659 25.9752 72.2051 26.8962 70.6836 26.8962C69.3222 26.8962 68.3814 26.2555 68.3213 25.1144H65.1982C65.4784 27.8571 67.6006 29.699 70.5034 29.699C73.9269 29.699 76.089 27.4767 76.089 23.9532V14.584H73.3062L73.1461 15.6049C72.5855 14.7842 71.4043 14.2437 70.043 14.2437C67.2403 14.2437 65.2382 16.3457 65.2382 19.4088ZM68.3613 19.3287C68.3613 17.8873 69.3223 16.9263 70.5435 16.9263C71.9649 16.9263 73.0059 17.8672 73.0059 19.3287C73.0059 20.7901 71.985 21.7911 70.5635 21.7911C69.3423 21.7911 68.3613 20.7901 68.3613 19.3287Z"
                                  fill="#4845D2"/>
                            <path d="M76.9873 19.5694C76.9873 22.7325 79.1093 24.8346 82.3125 24.8346C85.4957 24.8346 87.6178 22.7325 87.6178 19.5694C87.6178 16.4062 85.4957 14.2842 82.3125 14.2842C79.1093 14.2842 76.9873 16.4062 76.9873 19.5694ZM80.0903 19.5494C80.0903 18.0479 80.9712 17.0469 82.3125 17.0469C83.6339 17.0469 84.5147 18.0479 84.5147 19.5494C84.5147 21.0709 83.6339 22.0719 82.3125 22.0719C80.9712 22.0719 80.0903 21.0709 80.0903 19.5494Z"
                                  fill="#4845D2"/>
                            <path d="M90.2761 13.023C91.2366 13.023 92.0175 12.2423 92.0175 11.2613C92.0175 10.2803 91.2366 9.51953 90.2761 9.51953C89.295 9.51953 88.5142 10.2803 88.5142 11.2613C88.5142 12.2423 89.295 13.023 90.2761 13.023ZM88.7143 24.5945H91.8177V14.5846H88.7143V24.5945Z"
                                  fill="#4845D2"/>
                            <path d="M93.6235 29.3981H96.6665V23.5924C97.2476 24.3532 98.5684 24.8737 99.9506 24.8737C102.933 24.8737 104.735 22.5915 104.654 19.4283C104.575 16.2051 102.713 14.2632 99.9304 14.2632C98.5088 14.2632 97.1679 14.8838 96.607 15.8048L96.4466 14.5835H93.6235V29.3981ZM96.727 19.5884C96.727 18.087 97.7279 17.086 99.1697 17.086C100.631 17.086 101.552 18.107 101.552 19.5884C101.552 21.07 100.631 22.0909 99.1697 22.0909C97.7279 22.0909 96.727 21.0899 96.727 19.5884Z"
                                  fill="#4845D2"/>
                            <path d="M104.983 21.4303C105.063 23.4523 106.665 24.8536 109.188 24.8536C111.61 24.8536 113.292 23.5724 113.292 21.5104C113.292 20.0289 112.41 19.0479 110.769 18.6476L108.987 18.2071C108.346 18.0469 107.947 17.8868 107.947 17.3663C107.947 16.8458 108.366 16.5054 108.987 16.5054C109.688 16.5054 110.148 16.9659 110.128 17.6466H112.912C112.831 15.5645 111.25 14.2632 109.047 14.2632C106.825 14.2632 105.164 15.5845 105.164 17.5865C105.164 18.9279 105.905 20.0289 107.886 20.5494L109.648 21.0098C110.168 21.15 110.388 21.3902 110.388 21.7306C110.388 22.2311 109.928 22.5514 109.147 22.5514C108.246 22.5514 107.766 22.131 107.766 21.4303H104.983Z"
                                  fill="#4845D2"/>
                            <path d="M118.01 24.8541C119.232 24.8541 120.453 24.2936 121.073 23.4727L121.274 24.5939H124.177V14.584H121.094V19.7892C121.094 21.2906 120.653 22.1115 119.232 22.1115C118.13 22.1115 117.41 21.6109 117.41 19.7491V14.584H114.327V20.8702C114.327 23.2526 115.648 24.8541 118.01 24.8541Z"
                                  fill="#4845D2"/>
                            <path d="M129.066 24.5939V19.1285C129.066 17.4468 129.967 16.9663 130.848 16.9663C131.828 16.9663 132.469 17.5669 132.469 18.8081V24.5939H135.512V19.1285C135.512 17.4268 136.393 16.9463 137.274 16.9463C138.254 16.9463 138.915 17.5469 138.915 18.8081V24.5939H141.919V18.0474C141.919 15.7652 140.717 14.2437 138.134 14.2437C136.694 14.2437 135.512 14.9444 134.991 16.0254C134.391 14.9444 133.35 14.2437 131.688 14.2437C130.587 14.2437 129.566 14.7441 128.966 15.5449L128.846 14.584H125.962V24.5939H129.066Z"
                                  fill="#4845D2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M39.1876 3.3418C35.88 3.3418 32.7432 4.81097 30.6257 7.35196L23.0924 16.392L27.4425 9.86684L20.2218 12.9614C19.3047 13.3545 19.0747 14.5492 19.7801 15.2547L22.1037 17.5783L20.9173 19.002L23.5274 21.612L24.951 20.4256L27.2747 22.7493C27.9801 23.4546 29.1749 23.2246 29.5679 22.3077L32.6625 15.087L26.1374 19.437L35.1774 11.9036C37.7184 9.78618 39.1876 6.64942 39.1876 3.3418ZM32.0101 10.5195C32.7308 11.2402 33.8993 11.2402 34.6201 10.5195C35.3408 9.79874 35.3408 8.63021 34.6201 7.90952C33.8993 7.18874 32.7308 7.18874 32.0101 7.90952C31.2893 8.63021 31.2893 9.79874 32.0101 10.5195Z"
                                  fill="#A3A2FF"/>
                            <path opacity="0.6"
                                  d="M0.92627 17.9233C2.65442 23.8442 13.1612 23.5355 20.3698 19.8242C15.5428 22.2362 4.12418 22.6969 0.92627 17.9233Z"
                                  fill="#424242"/>
                            <path opacity="0.6"
                                  d="M21.8999 38.1051C17.0322 40.1258 19.0267 29.2916 21.3496 24.2139C19.6563 28.7272 18.2109 38.6766 22.5689 37.5661L22.3114 37.8092C22.1533 37.9289 22.0369 38.0121 21.8999 38.1051Z"
                                  fill="#424242"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-right">
        <TestimonialCard
                name="John Doe"
                title="E-commerce Store Owner"
                description="The team at Soziely helped us increase website traffic and sales through targeted social media advertising. Their expertise and attention to detail were invaluable to our business."
                image="https://i.imgur.com/yfIBb7m.jpg"
                icon=""
        />
        <TestimonialCard
                name="John Doe"
                title="E-commerce Store Owner"
                description="The team at Soziely helped us increase website traffic and sales through targeted social media advertising. Their expertise and attention to detail were invaluable to our business."
                image="https://i.imgur.com/yfIBb7m.jpg"
                icon=""
        />
        <TestimonialCard
                name="John Doe"
                title="E-commerce Store Owner"
                description="The team at Soziely helped us increase website traffic and sales through targeted social media advertising. Their expertise and attention to detail were invaluable to our business."
                image="https://i.imgur.com/yfIBb7m.jpg"
                icon=""
        />
    </div>
</section>

<style>
    .testimonials
    {
        height: 100vh;
        padding: 80px 100px;
        background-color: #142133;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }

    .testimonials-left
    {
        width: 100%;
        height: 95%;
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .testimonials-left-top
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .testimonials-left-top h4
    {
        color: #8493B6;
        font-size: 28px;
    }

    .testimonials-left-top h2
    {
        font-size: 40px;
        font-weight: 700;
        color: #FFF;
    }

    .testimonials-left-top p
    {
        font-size: 18px;
        font-weight: 300;
        color: #818181;
        margin-bottom: 20px;
    }

    .testimonials-left-bottom
    {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .testimonials-left-bottom h4
    {
        color: #8493B6;
        font-size: 22px;
    }

    .testimonials-left-bottom-partners
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .testimonials-left-bottom-partners-section
    {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .testimonials-left-bottom-partners-section-item
    {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #FFF;
        padding: 15px 20px;
        border-radius: 10px;
    }

    .testimonials-right
    {
        height: 100%;
        width: 100%;
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>